/*
Theme Name: Wallstreet-Pro
Theme URI: 
Author: Webriti
Author URI: http://webriti.com/
Description: 
Version:  1.2
Tags: white, red, full-width-template, threaded-comments, custom-menu, two-columns,translation-ready , custom-background , sticky-post
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl.html
Text Domain: wallstreet
* wallstreet Center Css created By Shahid - Scientech IT
*/
/*!
 * style created by Shahid (Scientech) Starting on 13 June, 2014***************************************
 */

body {
    background-color: #ffffff;
    color: #333333;
}	

/*Header Top Section--------------------------------------------------------------------------*/
.header-top-area { background: none repeat scroll 0 0 #00c2a9; }
.head-contact-social li { background-color: transparent; border-left: 1px solid #FFFFFF; }
.head-contact-social li:hover { background-color: #ffffff; }
.head-contact-social li:last-child { border-right: 1px solid #FFFFFF; }
.head-contact-social li > a > i { color: #FFFFFF; }
.head-contact-social li:hover i { color: #00c2a9; }
.head-contact-info li { color: #FFFFFF; }

/*Homepage Flex Slider Section--------------------------------------------------------------------------*/ 
.homepage_mycarousel { background: #2a2c33;	box-shadow: 0 7px 10px -10px #000; }
.homepage_mycarousel .overlay { background: rgba(0,0,0,0.45); }
.slide-text-bg1 h2 { color: #FFFFFF; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
.slide-text-bg2 h1 {
    color: #FFFFFF;
	border-top: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);    
}
.slide-text-bg3 p { color: #FFFFFF; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);}
.flex_btn {
	background-color: #00c2a9;
    color: #FFFFFF;
	border: 2px solid #00c2a9;
	text-shadow: 0 0px 1px rgba(0, 0, 0, 0.4);
}

/*Homepage Service Section--------------------------------------------------------------------------*/ 
.section_heading_title h1 { color: #2a2c33; }
.section_heading_title p { color: #777777; }
.pagetitle-separator { background: url("../images/pagetitle-seperator.png") no-repeat; }
.service-box img { border: 2px solid #FFFFFF; }
.service-area {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #eaeaea;
	
}
.service-area:hover { background: #00c2a9; border: 1px solid #00c2a9; }
.service-area h2 > a { color: #2a2c33; transition: all 0.4s ease 0s; }
.service-area:hover h2 > a { color: #ffffff; }
.service-area p { color: #727272; }
.service-area:hover p { color: #ffffff; transition: all 0.4s ease 0s; }


.service-btn a { background-color: #00c2a9; border: 1px solid #00c2a9; color: #ffffff; }
.service-area:hover .service-btn a { background-color: #32343c; border: 1px solid #32343c; }

/*Other Services Section-------------------------------------------------------------------------------*/
.other-service-area i { color: #2A2C33; background-color: transparent; border: 2px solid #eaeaea; }
.other-service-area:hover i { color: #ffffff; background-color: #00c2a9; border: 2px solid #00c2a9; }
.other-service-area1 { color: #ffffff; }
.other-service-area1 i{
	border: 2px solid #FFFFFF;
	background-color: #2A2C33;
	color: #ffffff;
}
.service-effect:hover .other-service-area1 i{ color: #ffffff; }
.other-service-area h2 { color: #2a2c33; }
.other-service-area p { color: #727272; }

/*Homepage Portfolio Section--------------------------------------------------------------------------*/ 
.portfolio-section { background-color: #fafafa; border-bottom: 1px solid #eaeaea; border-top: 1px solid #eaeaea; }
.home-portfolio-showcase-overlay { background: #00c2a9; }
.home-portfolio-showcase .home-portfolio-showcase-detail h4 {
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
	
}
.home-portfolio-showcase .home-portfolio-showcase-detail p { color: #FFFFFF; }
.portfolio-btn a { background-color: #32343c; color: #FFFFFF; }
.proejct-btn a {
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid #32343c;
	border-radius: 1px;
	color: #32343c;
}
.proejct-btn a:hover { background-color: #00c2a9; border: 2px solid #00c2a9; color: #fff; }

/*Homepage Testimonial Section---------------------------------------------------------------------------------*/
.testimonial-section { background: url("../images/testimonial-bg.jpg"); }
.testimonial-section .overlay { background: rgba(0, 194, 169, 0.7); }
.testimonial-area img { border: 3px solid #2a2c33; }
.testimonial-area p { color: #ffffff; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }
.testimonial-area h2 { color: #2a2c33; }
.testimonial-area h2 > i { background-color: #ffffff; }

/*Blog Section Css----------------------------------------------------------------------------------------------*/
.home-blog-area { 
	background-color: #fafafa;
	border-right: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	border-top: 1px solid transparent; 
}
.home-blog-area:hover { 	
	background-color: #ffffff;
	border-right: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	border-top: 1px solid transparent; 
}
.home-blog-area .home-blog-info h2 { color: #2a2c33; }
.home-blog-area .home-blog-info h2 > a { color: #2a2c33; }
.home-blog-area:hover .home-blog-info h2 > a { color: #00c2a9; }
.home-blog-description p { color: #727272; }
.home-blog-post-detail { border-bottom: 1px dotted #cacaca; color: #2a2c33; }
.home-blog-post-detail > .date { color: #2a2c33; }
.home-blog-post-detail > .comment { color: #2a2c33; }
.home-blog-post-detail > .comment > a { color: #2a2c33; }
.home-blog-post-detail > .comment > a > i { color: #2a2c33; }
.home-blog-btn a { background-color: #00c2a9; color: #FFFFFF; }
/*Feetures Section Css---------------------------------------------------------------------------------------*/
.features-section { background: url("../images/tweet-bg.jpg"); }
.features-section .overlay { background: rgba(0, 0, 0, 0.4); }
.features-title { color: #ffffff; }
.features-area h3 { color: #ffffff; }
.features-area p{ color: #ffffff; }
.feature-icon { background-color: #00c2a9; }
.feature-icon i { color: #ffffff; }

/*Tweet Section Css---------------------------------------------------------------------------------------------*/
.tweet-section { background: url("./images/tweet-bg.jpg"); }
.tweet-section .overlay { background: rgba(0, 0, 0, 0.4); }
.tweet-icon i { color: #00c2a9; }
.tweet-area p { color: #ffffff; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }
.tweet-area p > a { color: #00c2a9; }
.tweet-area h2 { color: #ffffff; }
.tweet-btn a {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}
.tweet-btn a:hover { background-color: #00c2a9; border: 1px solid #00c2a9; }

/*Clients Section Css------------------------------------------------------------------------------------------*/
.clients-logo { background-color: transparent; border: 2px solid #eaeaea; box-shadow: 0 0 3px 0 #e5e5e5; }

/*Footer Widgte Section-----------------------------------------------------------------------------------------*/
.footer_section { background-color: #222222; }
.footer-social-area { box-shadow: 0 7px 2px -6px #2A2C33; }
.footer-social-icons { border-bottom: 1px solid #3e3e3e; }
.footer-social-icons li {
    background-color: rgba(0, 0, 0, 0);
    border: 0 solid #FFFFFF;
}
.footer-social-icons li > a > i { color: #FFFFFF; }
.footer-social-icons li > a > i:hover { color: #cbcbcb; }
.footer_widget_title { color: #ffffff; }
.footer_section p { color: #ffffff; }
.footer-blog-post h3 a { color: #ffffff; }
.footer-blog-post:hover h3 a { color: #00c2a9; }
.footer-blog-post span { color: #a8abb8; }
.post-date { background-color: #00c2a9; }
.footer-blog-post:hover .post-date { background-color: #ffffff; }
.post-date span.date { color: #FFFFFF; }
.post-date span.month { color: #FFFFFF; }
.footer-blog-post:hover .post-date span.date { color: #00c2a9; }
.footer-blog-post:hover .post-date span.month { color: #00c2a9; }
.footer-widget-flicker span > a > img { border: 1px solid #ffffff; }
.footer-widget-tags a {
    background-color: transparent;
	border: 1px solid #8d919f;
    color: #ffffff;
}
.footer-widget-tags a:hover { background-color: #8d919f; border: 1px solid #8d919f; }
.footer-copyright { border-top: 1px solid #3e3e3e; }
.footer-copyright p { color: #ffffff; }
.footer-copyright p a { color: #00c2a9; }
.footer_widget_column > .tagcloud a{
	background-color: transparent;
    border: 1px solid #525252;
    color: #c1c1c1;
}
.footer_widget_column > .tagcloud a:hover { background-color: #3e3e3e; border: 1px solid #3e3e3e; }

/*Page Header Css---------------------------------------------------------------------------------------------*/
.page-mycarousel {
	background: url("../images/page-header-bg.jpg") repeat scroll 0 0 / cover #143745;
	box-shadow: 0 7px 10px -10px #000;
}
.page-header-title h1 { color: #ffffff; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); }
.page-header-title h1 a{ color: #00c2a9; }
.page-breadcrumbs { background-color: rgba(0, 0, 0, 0.6); color: #00c2a9; }
.breadcrumbs { background-color: transparent; }
.breadcrumbs > li { color: #ffffff; }
.breadcrumbs > li a { color: #ffffff; }
.breadcrumbs > .active { color: #00c2a9; }

/*About Us Page Css---------------------------------------------------------------------------------------------*/
.about-section h3 { color: #2a2c33; }
.about-section p { color: #727272; }
.about-social-icons li { background-color: rgba(0, 0, 0, 0); border: 0 solid #FFFFFF; }
.about-social-icons li > a > i { color: #2A2C33; } 
.about-social-icons li > a > i:hover { color: #00c2a9; }
.team-box img { border: 3px solid #eaeaea; box-shadow: 0 0 0 1px #d9d9d9; }
.team-effect:hover .team-box img { border: 3px solid #00c2a9; box-shadow: 0 0 0 1px #e5e5e5; }
.team-area { background: #fafafa; border: 1px solid #eaeaea; }
.team-area:hover { background: #00c2a9; border: 1px solid #00c2a9; }
.team-area h5 { color: #2a2c33; }
.team-area:hover h5 { color: #ffffff; }
.team-area h5 > span { color: #00c2a9; }
.team-area:hover h5 > span { color: #06443c; }
.desi-seperate { background-color: #d0d0d0; }
.team-area p { color: #727272; }
.team-area:hover p { color: #ffffff; }
.team-social-icons li { background-color: rgba(0, 0, 0, 0); border: 0 solid #FFFFFF; }
.team-social-icons li > a > i { color: #bdbec5; }
.team-area:hover .team-social-icons li > a > i { color: #ffffff; }

.callout-section { border-top: 1px solid #00c2a9; border-bottom: 5px solid #00c2a9; }
.callout-section h3 { color: #2a2c33; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0); }
.callout-section p { color: #727272; }
.callout-section a { color: #ffffff; background-color: #00c2a9; }

/*Blog Section Css---------------------------------------------------------------------------------------------*/
.blog-section-left { background-color: #fafafa; border: 1px solid #eaeaea; }
.blog-section-right { background-color: #fafafa; border: 1px solid #eaeaea; }
.blog-section-full{ background-color: #fafafa; border: 1px solid #eaeaea; }
.blog-detail-section { background-color: #fafafa; border: 1px solid #eaeaea; }
.blog-post-title > .blog-post-title-wrapper > h1,
.blog-post-title > .blog-post-title-wrapper > h2,
.blog-post-title > .blog-post-title-wrapper > h3,
.blog-post-title > .blog-post-title-wrapper > h4,
.blog-post-title > .blog-post-title-wrapper > h5,
.blog-post-title > .blog-post-title-wrapper > h6{
	color: #00c2a9;
}
.blog-post-date { background-color: #FFFFFF; }
.blog-post-date span.date { background-color: #00c2a9; color: #FFFFFF; }
.blog-post-date span.comment { color: #2a2c33; }
.blog-post-date span.comment > i { color: #00c2a9; }
.blog-post-title-wrapper h2, .blog-post-title-wrapper-full h2 { color: #2a2c33; }
.blog-post-title-wrapper h2 a, .blog-post-title-wrapper-full h2 a { color: #2a2c33; }
.blog-post-title-wrapper h2 a:hover, .blog-post-title-wrapper-full h2 a:hover { color: #00c2a9; }
.blog-post-title-wrapper p, .blog-post-title-wrapper-full p { color: #727272; }
.blog-post-title-wrapper > table, .blog-post-title-wrapper-full  > table{
    background-color: transparent;
	border: 1px solid #ffffff;
}
.blog-post-title-wrapper > table > tbody > tr > th > a, .blog-post-title-wrapper-full > table > tbody > tr > th > a{
    color: #00c2a9;
}
.blog-post-title-wrapper > table > tbody > tr > th > a:hover, .blog-post-title-wrapper-full > table > tbody > tr > th > a:hover {
	color: #00c2a9
}
.blog-post-detail { color: #545454; border-top: 1px dotted #cacaca; }
.blog-post-detail a { color: #545454; }
.blog-post-detail a:hover { color: #2a2c33; }
.blog-tags i { color: #545454; }
.blog-tags a { color: #545454; }
.blog-tags a:hover { color: #2a2c33; }
a.blog-btn {
	background-color: #00c2a9;
    color: #FFFFFF;
    border: 1px solid transparent;
}
.blog-pagination a { color: #545454; background-color: #fafafa; border: 1px solid #eaeaea; }
.blog-pagination a:hover, .blog-pagination a.active {
  color: #FFFFFF;
  background-color: #00c2a9;
  border: 1px solid #00c2a9;
}
.page-links a{background-color: #2a2c33;}

/*Sidebar Section Css---------------------------------------------------------------------------------*/

/* Edit by Harish For Sidebar Section*/
.sidebar-section { background-color: #fafafa; border: 1px solid #eaeaea; }
.sidebar-widget > div.textwidget { color: #c1c1c1; }
.footer_widget_column > div.textwidget { color: #c1c1c1; }
.sidebar-widget > ul > li{ border-bottom: 1px dotted #cacaca; color: #727272; }
.footer_widget_column > ul > li{ color: #727272; }
.footer_widget_column > ul > li > a,
.footer_widget_column > ul > li > ul > li > a,
.footer_widget_column > ul > li > ul > li > ul > li > a{ color: #c1c1c1; }
.footer_widget_column > ul > li > a:hover,
.footer_widget_column > ul > li > ul > li > a:hover,
.footer_widget_column > ul > li > ul > li > ul > li > a:hover{ color: #00c2a9; }
.sidebar-widget ul.sidebar-tab.sidebar-widget-tab > li{ color: #727272; }
.sidebar-widget ul.sidebar-tab.sidebar-widget-tab > li > a:hover{ color: #00c2a9; }
.sidebar-widget > ul > li > a,
.sidebar-widget > ul > li > ul > li > a,
.sidebar-widget > ul > li > ul > li > ul > li > a { color: #727272; }
.sidebar-widget > ul > li > a:hover,
.sidebar-widget > ul > li > ul > li > a:hover,
.sidebar-widget > ul > li > ul > li > ul > li > a:hover{ color: #00c2a9; }
.sidebar-widget > ul > li > a:before { color: #727272; }
.sidebar-widget-title h2 { color: #2a2c33; }
/* Sidebar Tags */
.sidebar-widget > .tagcloud a { background-color: transparent; border: 1px solid #727272; color: #727272; }
.sidebar-widget > .tagcloud a:hover { background-color: #00c2a9; border: 1px solid #00c2a9; color: #ffffff; }
.search-widget input { border: 1px solid #E0E4E6; color: #939B9F; }
.search-widget a { background-color: #FA7073; box-shadow: 0 3px 0 0 #CC6567; color: #FFFFFF; }
.search_widget_input{ 
    border: 1px solid #E0E4E6;
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.search_btn{ background-color: #00C2A9; color: #ffffff; }
.search_widget_input:focus {
  border-color: #00C2A9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(250, 112, 115, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(250, 112, 115, .6);
}
.search_error{ background-color: #00c2a9; }
.search_err_heading{ color: #ffffff; }
.wallstreet_searching{ color: #ffffff; }
.search_heading{ background-color: #00c2a9; color: #ffffff; }
.sidebar-widget div#calendar_wrap table#wp-calendar { border: 1px solid #727272; }
.sidebar-widget div#calendar_wrap table > caption{ color: #00C2A9; }
.sidebar-widget div#calendar_wrap table > thead > tr > th{ border: 1px solid #727272; }
.sidebar-widget div#calendar_wrap table > tfoot > tr > td { border: 1px solid #727272; }
.sidebar-widget div#calendar_wrap table > tbody > tr > td { border: 1px solid #727272; }
.footer_widget_column div#calendar_wrap table#wp-calendar{ border: 1px solid #525252; }
.footer_widget_column div#calendar_wrap table > caption{ color: #c1c1c1; }
.footer_widget_column div#calendar_wrap table > thead > tr > th{ border: 1px solid #525252; }
.footer_widget_column div#calendar_wrap table > tfoot > tr > td { border: 1px solid #525252; }
.footer_widget_column div#calendar_wrap table > tbody > tr > td{ border: 1px solid #525252; }
.footer_widget_column > ul > li > a:before{ color: #c1c1c1; }
#calendar_wrap a {color:#00C2A9;}
.sidebar-tweet-area .media-body { border-bottom: 1px dotted #cacaca; }
.sidebar-tweet-area i { color: #ffffff; }
.sidebar-tweet-area p { color: #e5e5e5; }
.sidebar-tweet-area p > a { color: #00c2a9; }
.sidebar-tweet-area span { color: #ffffff; }
.sidebar-widget-tab > .active a { background: none repeat scroll 0 0 #00c2a9; color: #FFFFFF; }
.sidebar-widget-tab li a { color: #e5e5e5;	}
.post-media-sidebar { border-bottom: 1px dotted #cacaca; }
.post-media-sidebar h3 a { color: #727272; }
.post-media-sidebar p{ color: #ffffff; }
a.readmore{ color: #fa7073; }
.sidebar-comment-box span { color: #2a2c33; }
.sidebar-comment-box span > small{ color: #2a2c33; }
.sidebar-comment-box span > a{ color: #2a2c33; }
.sidebar-comment-box span > a > i{ color: #8C9193; }
/*Sidebar Links*/
.post-content li { color: #e5e5e5; border-bottom: 1px dotted #7b7f8c; }
.post-content li > i { color: #ffffff; }
.post-content li a { color: #e5e5e5; }
.post-content li:hover a { color: #00c2a9; }
#recentcomments .recentcomments a {  color: #00c2a9; }
.footer_widget_column #recentcomments .recentcomments, 
.footer_widget_column #recentcomments .recentcomments span.comment-author-link { color: #c1c1c1; }
.sidebar-widget #recentcomments .recentcomments, 
.sidebar-widget #recentcomments .recentcomments span.comment-author-link { color: #727272; }
/*Blog Detail Section Css-----------------------------------------------------------------------------*/
.blog-blockquote blockquote { background-color: transparent; border-left: 3px solid #00c2a9; }
.blog-blockquote blockquote > span { color: #e5e5e5; }
.blog-blockquote blockquote > small { color: #00c2a9; }
.blog-post-title-wrapper > blockquote, .blog-post-title-wrapper-full > blockquote{
	background-color: #3c3f49;
    border-left: 3px solid #00c2a9;
}
.blog-post-title-wrapper blockquote > p > small, .blog-post-title-wrapper-full blockquote > p > small{ color: #e5e5e5; }
.blog-post-title .blog-post-title-wrapper blockquote > p > span, .blog-post-title .blog-post-title-wrapper-full blockquote > p > span{ color: #e5e5e5; }
.blog-post-title .blog-post-title-wrapper ul > li > span, .blog-post-title .blog-post-title-wrapper-full ul > li > span{
	color: #e5e5e5;
}
.blog-author { background-color: #fafafa; border: 1px solid #eaeaea; }
.blog-author img { border: 2px solid #ffffff; }
.blog-author h6 { color: #2a2c33; }
.blog-author p { color: #727272; }
.blog-author-social li { border: 1px solid #545454; }
.blog-author-social li:hover { border: 1px solid #00c2a9; background-color: #00c2a9; }
.blog-author-social li > a { color: #545454; transition: all 0.3s ease 0s; }
.blog-author-social li:hover > a { color: #ffffff; }
.comment-section { background-color: #fafafa; border: 1px solid #eaeaea; }
.comment-title { border-bottom: 1px dotted #cacaca; }
.comment-title h3 { color: #2a2c33; }
.comment-title h3 > i { color: #2a2c33; }
.comment-img { border: 2px solid #b3b8c6; }
.comment-detail { border-bottom: 1px dotted #cacaca; }
.comment-detail-title { color: #2a2c33; }
.comment-date a{ color: #00c2a9; }
.comment-detail p { color: #727272; }
.reply a { background-color: transparent; color: #2a2c33; border: 1px solid #2a2c33; }
.reply a:hover { background-color: #00c2a9; color: #ffffff; border: 1px solid #00c2a9; }
.comment-form-section { background-color: #fafafa; border: 1px solid #eaeaea; }
.comment-form-section > .comment-respond > form#commentform > p, .comment-form-section > .comment-respond > h3 .comment-reply-title{ color: #727272; }
.comment-form-section > .comment-respond > h3.comment-reply-title a, .comment-form-section > .comment-respond > h3.comment-reply-title > small > a{ color: #00c2a9; }
.comment-form-section > .comment-respond > form#commentform > p.logged-in-as > a{ color: #00C2A9; }
.comment-awaiting-moderation{ color: #00c2a9; }
.blog-form-control { color: #727272; background-color: transparent; border: 1px solid #cacaca; }
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { color: #727272; }
.blog-form-control-textarea { color: #727272; background-color: transparent; border: 1px solid #cacaca; }
.blogdetail-btn a { background-color: #00c2a9; color: #FFFFFF; }
#blogdetail_btn { background-color: #00c2a9; color: #FFFFFF; }

/*Portfolio 2 Column Section Css---------------------------------------------------------------------*/
/*Portfolio Tabs*/
.portfolio-tabs li a { border: 1px solid #2a2c33; background: transparent; color: #2a2c33; }
.portfolio-tabs li.active > a, .portfolio-tabs li > a:hover {
	border: 1px solid #00c2a9;
	background: #00c2a9;
	color: #ffffff;
}
/*Portfolio*/
.main-portfolio-showcase:before, .main-portfolio-showcase:after {
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.8);
    box-shadow:0 0 15px rgba(0,0,0,0.8);
}
.main-portfolio-showcase-overlay { background: #00c2a9; }
.main-portfolio-showcase .main-portfolio-showcase-detail h4 {
	color: #ffffff;
	border-bottom: 1px solid #ffffff;	
}
.main-portfolio-showcase .main-portfolio-showcase-detail p { color: #FFFFFF; }
.portfolio-icon a { background-color: #32343c; }
.portfolio-icon a > i{ color: #FFFFFF; }

/*Portfolio Detail Section----------------------------------------------------------------------------*/
.port-detail-img:before, .port-detail-img:after { box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); }
.portfolio-detail-pagi li a { border: 1px solid #32343c; color: #32343c; }
.portfolio-detail-pagi li a:hover { 
	background: none repeat scroll 0 0 #00c2a9; 
	border: 1px solid #00c2a9; 
	color: #ffffff;
}
.portfolio-detail-description { border-bottom: 1px dotted #cacaca; }
.portfolio-detail-description p { color: #727272; }
.portfolio-detail-info p { color: #727272; }
.portfolio-detail-info p small { color: #00c2a9; margin: 5px 0 0; }
.portfolio-detail-info p  > small > a { color: #00c2a9; }
.portfolio-detail-info p  > small > a:hover { color: #00c2a9; }
.portfolio-detail-info .project-btn {
	background: transparent;
	border: 1px solid #32343c;
	color: #32343c;
}
.portfolio-detail-info .project-btn:hover {
	background: #00c2a9;
	border: 1px solid #00c2a9;
	color: #ffffff;
}
.prelated-project-btn  li a { background: transparent; 	border: 1px solid #32343c; color: #32343c; }
.prelated-project-btn  li a:hover { 
	background: none repeat scroll 0 0 #00c2a9;
	border: 1px solid #00c2a9;
	color: #ffffff;
}

/*Contact Map Section Css--------------------------------------------------------------------------*/
.qua_contact_area { background-color: #ffffff; }
.google-map-title { background-color: #00c2a9; }
.google-map-title h1 { color: #ffffff; }
.contact-detail-area { background: none repeat scroll 0 0 #fafafa; border: 1px solid #eaeaea; }
.contact-detail-area i { background-color: #00c2a9; color: #ffffff; }
.contact-detail-area h5 { color: #2a2c33; }
.contact-detail-area address { color: #727272; }
.cont-heading-title h1 { color: #2a2c33; }
.cont-heading-title p { color: #777777; }
.cont-form-control { color: #e5e5e5; background-color: transparent; border: 1px solid #7b7f8c; }
.cont-form-control-textarea { color: #e5e5e5; background-color: transparent; border: 1px solid #cacaca; }
.cont-btn a { background-color: #00c2a9; color: #FFFFFF; }
.qua_contact_btn{ background-color: #00c2a9; color: #FFFFFF; }

/*Typography Section Css------------------------------------------------------------------------------*/
.typo-head-title { border-bottom: 1px dotted #7b7f8c; }
.typo-head-title h3 { color: #ffffff; }
.typo-section h1, .typo-section h2,
.typo-section h3, .typo-section h4,
.typo-section h5, .typo-section h6 { color: #00c2a9; }
.typo-section p { color: #727272; }
/*Blockquote*/
.typo-section blockquote { background-color: #3c3f49; border-left: 5px solid #00c2a9; }
.typo-section blockquote > span { color: #e5e5e5; }
.typo-section blockquote > small { color: #ffffff; }
.typo-section blockquote { background-color: #3c3f49; border-left: 5px solid #00c2a9; }
.blockquote2 > span { color: #e5e5e5; }
.blockquote2 > small { color: #ffffff; }
/*List Styles*/
.typo-para-icons span { color: #e5e5e5; }
.typo-para-icons i { color: #00c2a9; }

/*Shortcode Section Css-----------------------------------------------------------------------------*/
.short-btn-green { background-color: #00c2a9; color: #ffffff; }
.short-btn-white { background-color: #2a2c33; color: #ffffff; }
.short-btn-grey { background-color: #7e7f84; color: #ffffff; }
.short-btn-transparent { background-color: transparent; border: 1px solid #e5e5e5; color: #ffffff; }
/*Dropcap*/
.dropcape-square, .dropcape-simple, .dropcape-circle { color: #727272; }
.dropcape-square span { background-color: #00c2a9; color: #FFFFFF; }
.dropcape-simple span { color: #2a2c33; }
.dropcape-circle span { background-color: #00c2a9; color: #FFFFFF; }
/*Alert Styles*/
.alert-error {
	background-color: #fce2e3;
	border: 1px solid #FAC2C4;
	color: #E54034;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert-error .close { color: #E54034; }
button.close { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); }
.alert-warning {
	background-color: #FDF4BD;
	border: 1px solid #FED223;
	color: #927E03;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert-warning .close { color: #927E03; }
.alert-success {
	background-color: #E5EEC0;
	border: 1px solid #C4D67E;
	color: #576C01;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
} 
.alert-success .close { color: #576C01; }
.alert-info {
	background-color: #D9EDF7;
	border: 1px solid #BCE8F1;
	color: #04567d;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert-info .close { color: #04567D; }
/*Tooltips*/
.short-tooltip { color: #727272; }
.short-tooltip a { color: #00c2a9; }
/*Accordion*/
.acco_panel { background-color: #FFFFFF; }
.panel-default > .short-panel-heading h4 { background-color: #00c2a9; color: #ffffff; }
.panel-default > .short-panel-heading h4 > a { color: #ffffff; }
.short-panel-heading { border-bottom: 1px solid rgba(0, 0, 0, 0); }
.panel-title a span { color: #2a2c33; }
.acco_panel p { color: #2a2c33; } 
/*Tabs*/
.short-tabs li { background: none repeat scroll 0 0 transparent; }
.short-tabs > .active a { background: #ffffff; color: #2a2c33; }
.short-tabs li a { background: none repeat scroll 0 0 #00c2a9; color: #ffffff; }
p.short-tabs-content { color: #727272; background: #ffffff; }
/*Image Paragraph*/
.image-para-title { color: #00c2a9; }
.image-para-content { color: #727272; }
/*Table*/
.table { background: white; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }
.table-bordered { border: 1px solid #eeeeee !important; } 
th {
	color: #2a2c33;
	background: #eeeeee;
	border-bottom: 4px solid #eeeeee;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
tr { color:#e5e5e5; text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1); }
tr:hover td {
	background: #2c2c2c;
	color:#FFFFFF;
	border-top: 1px solid #22262e;
	border-bottom: 1px solid #22262e;
}
tr:nth-child(odd) td { background:#222222; }
tr:nth-child(odd):hover td { background:#2c2c2c; }
td {
	background:#282828;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	border-right: 1px solid #ff0000;
}
/*Column*/
.column-box p { color: #e5e5e5; }
/**** 404 page ******/
.error_404 { color: #ffffff; }
.wallstreet_page_heading{ background-color: #00C2A9; color: #ffffff; }
.blog-post-title-wrapper > dl > dt,
.blog-post-title-wrapper-full > dl > dt,
.blog-post-title-wrapper > dl > dd,
.blog-post-title-wrapper-full > dl > dd {
	color: #e5e5e5;
}
.blog-post-title-wrapper > dl > dt a,
.blog-post-title-wrapper-full > dl > dt a,
.blog-post-title-wrapper > dl > dd a,
.blog-post-title-wrapper-full > dl > dd a{
	color: #00C2A9;
}
.blog-post-title-wrapper > ul,
.blog-post-title-wrapper > ul > li,
.blog-post-title-wrapper-full > ul,
.blog-post-title-wrapper-full > ul > li,
.blog-post-title-wrapper > ul > li > ul > li,
.blog-post-title-wrapper-full > ul > li > ul > li,
.blog-post-title-wrapper > ul > li > ul > li > ul > li,
.blog-post-title-wrapper-full > ul > li > ul > li > ul > li {
	color: #e5e5e5;
}
.blog-post-title-wrapper > ul,
.blog-post-title-wrapper > ul > li a,
.blog-post-title-wrapper-full > ul,
.blog-post-title-wrapper-full > ul > li a,
.blog-post-title-wrapper > ul > li > ul > li a,
.blog-post-title-wrapper-full > ul > li > ul > li a,
.blog-post-title-wrapper > ul > li > ul > li > ul > li a,
.blog-post-title-wrapper-full > ul > li > ul > li > ul > li a{
	color: #00C2A9;
}
.blog-post-title-wrapper > ol,
.blog-post-title-wrapper > ol > li,
.blog-post-title-wrapper-full > ol,
.blog-post-title-wrapper-full > ol > li,
.blog-post-title-wrapper > ol > li > ol > li,
.blog-post-title-wrapper-full > ol > li > ol > li,
.blog-post-title-wrapper > ol > li > ol > li > ol > li,
.blog-post-title-wrapper-full > ol > li > ol > li > ol > li {
	color: #e5e5e5;
}
.blog-post-title-wrapper > ol,
.blog-post-title-wrapper > ol > li a,
.blog-post-title-wrapper-full > ol,
.blog-post-title-wrapper-full > ol > li a,
.blog-post-title-wrapper > ol > li > ol > li a,
.blog-post-title-wrapper-full > ol > li > ol > li a,
.blog-post-title-wrapper > ol > li > ol > li > ol > li a,
.blog-post-title-wrapper-full > ol > li > ol > li > ol > li a {
	color: #00C2A9;
}
.blog-post-title-wrapper > ol > li,
.blog-post-title-wrapper-full > ol > li,
.blog-post-title-wrapper > ol > li > ul > li,
.blog-post-title-wrapper-full > ol > li > ul > li,
.blog-post-title-wrapper  > ol > li > ul > li > ol > li,
.blog-post-title-wrapper-full  > ol > li > ul > li > ol > li
{
	color: #e5e5e5;
}
.blog-post-title-wrapper h1,
.blog-post-title-wrapper-full h1,
.blog-post-title-wrapper h2,
.blog-post-title-wrapper-full h2,
.blog-post-title-wrapper h3,
.blog-post-title-wrapper-full h3,
.blog-post-title-wrapper h4,
.blog-post-title-wrapper-full h4,
.blog-post-title-wrapper h5,
.blog-post-title-wrapper-full h5,
.blog-post-title-wrapper h6,
.blog-post-title-wrapper-full h6{
	color: #00c2a9;
}
.blog-post-title-wrapper address,
.blog-post-title-wrapper-full address { color: #e5e5e5; }
.blog-post-title-wrapper p a, .blog-post-title-wrapper-full p a { color: #00c2a9; }
.post_message{ color: #00c2a9; }

/* Wordpres default Core Classes Need to be define all the Times*/
.attachment-post-thumbnail{ color: #e5e5e5;}
.page-links{ color: #e5e5e5; }
.post-password-form input[type="submit"]{ background-color: #00c2a9; color: #ffffff; }
.post-password-form input[type="password"]{ color: #000; }
input#pwbox-1168{
	background-color: #ffffff;
    border: 1px solid #e0e4e6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.comment_box h1, .comment_box h2, .comment_box h3, .comment_box h4, .comment_box h5, .comment_box h6 {
	color: #2a2c33;
}
.comment-detail  > table{ background-color: transparent; border: 1px solid #ffffff; }
.comment-detail > table > tbody > tr > th > a:hover { color: #00c2a9; }
.comment-detail > table > tbody > tr > td > a { color: #00c2a9; }
.comment-detail > dl > dt a, .comment-detail > dl > dd a { color: #00c2a9; }
.comment-detail p a { color: #00c2a9; }
.comment-detail > dl > dt,
.comment-detail > dl > dd { color: #e5e5e5; }
.comment-detail > dl > dt a,
.comment-detail > dl > dd a{ 
	color: #00C2A9;
}
.comment-detail > ul,
.comment-detail > ul > li,
.comment-detail > ul > li > ul > li,
.comment-detail > ul > li > ul > li > ul > li {
	color: #e5e5e5;
}
.comment-detail > ul,
.comment-detail > ul > li a,
.comment-detail > ul,
.comment-detail > ul > li a,
.comment-detail > ul > li > ul > li a,
.comment-detail > ul > li > ul > li > ul > li a{
	color: #00C2A9;
}
.comment-detail > ol,
.comment-detail > ol > li,
.comment-detail > ol > li > ol > li,
.comment-detail > ol > li > ol > li > ol > li {
	color: #e5e5e5;
}
.comment-detail > ol,
.comment-detail > ol > li a,
.comment-detail > ol > li > ol > li a,
.comment-detail > ol > li > ol > li > ol > li a {
	color: #00C2A9;
}
.comment-detail > ol > li,
.comment-detail > ol > li > ul > li,
.comment-detail  > ol > li > ul > li > ol > li {
	color: #e5e5e5;
}
.comment-detail address { color: #e5e5e5; }
#comment-nav-below > .nav-previous a, #comment-nav-below > .nav-next a { color: #00c2a9; }
.tiled-gallery .tiled-gallery-item img, .tiled-gallery .tiled-gallery-item img:hover { color: #00c2a9; }
#gallery-2 img {border: 2px solid #cfcfcf;}
#gallery-2 img { border: 2px solid #cfcfcf; color: #00c2a9; }
.entry-content img, .comment-content img, .widget img, img.header-image, .author-avatar img, .gallery-item .attachment-thumbnail { box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); }
.wp-caption .wp-caption-text, .gallery-caption, .entry-caption { color: #e5e5e5; }

article.format-aside .aside {
    background: none repeat scroll 0 0 #d2e0f9;
    border-left: 22px solid #a8bfe8;
    padding: 1.71429rem;
}
.footer_widget_column a{color:#c1c1c1;}