/*
Theme Name: Wallstreet-Pro
Theme URI: 
Author: Webriti
Author URI: http://webriti.com/
Description: 
Version:  1.3
Tags: white, red, full-width-template, threaded-comments, custom-menu, two-columns, translation-ready, custom-background, sticky-post
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl.html
Text Domain: wallstreet
* wallstreet Center Css created By Shahid - Scientech IT
*/
/*!
 * style created by Shahid (Scientech) Starting on 13 June, 2014***************************************
 */

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
	margin: 0;
}
ul, ol { list-style-type: none; }
 
/*Header Top Section--------------------------------------------------------------------------*/
.header-top-area { padding: 0; min-height: 45px; }
.head-contact-social {
    float: left;
    margin: 0;
    padding: 0;
}
.head-contact-social li {
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    height: 45px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
    text-align: center;
    transition: background 0.1s ease-in-out 0s;
    width: 45px;
}
.head-contact-social li > a > i {
    color: #FFFFFF;
    font-size: 18px;
    height: 45px;
    line-height: 2.5;
    transition: color 0.3s ease-in-out 0s;
    width: 45px;
}
.head-contact-info {
    display: block;
    float: right;
    margin: 10px 0;
    padding: 0;
}
.head-contact-info li {
    display: inline-block;
    font-family: 'RobotoRegular';
    font-size: 15px;
    margin-right: 26px;
    padding: 0;
}
.head-contact-info li:last-child {
    margin-right: 0px;
}
.head-contact-info i {
    font-size: 17px;
    line-height: 25px;
    padding-right: 7px;
}

/*Homepage Flex Slider Section--------------------------------------------------------------------------*/ 
.homepage_mycarousel {
    height: 100%;
	width: 100%;
    margin-bottom: 0px;
    position: relative;
}
.homepage_mycarousel .overlay {
	height: 100%;
	position: relative;
}
.flex-slider-center {
    float: none;
    height: auto;
    left: 0;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 30.2%;
    width: 1140px;
    z-index: 0;
}
.slide-text-bg1 {
    float: none;
    margin: 0 0 20px;
    padding: 0;
    position: relative;
    text-align: center;
    width: auto;
    z-index: 773;
}
.slide-text-bg1 h2 {
    font-family: 'RobotoLight';
    font-size: 60px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 65px;
    margin: 0 0 0px;
    text-align: center;
}
.slide-text-bg2 {
    float: none;
    margin: 0 0 23px;
    padding: 0 0px 5px;
    position: relative;
    text-align: center;
    width: auto;
    z-index: 773;
}
.slide-text-bg2 h1 {
    display: inline-block;
    font-family: 'RobotoLight';
    font-size: 80px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 80px;
    margin: 0 0 0px;
    padding: 0 0px 0px;
    text-align: center;    
}
.slide-text-bg2 span {
    font-family: 'RobotoMedium';
	line-height: 80px;
}
.slide-text-bg3 {
    float: none;
    margin: 0 0 23px;
    padding: 0 30px 5px;
    position: relative;
    text-align: center;
    width: auto;
    z-index: 773;
}	
.slide-text-bg3 p {
    display: inline-block;
    font-family: 'RobotoRegular';
    font-size: 22px;
    letter-spacing: 0;
    line-height: 30px;
    margin: 0;
    padding: 0;
}
.flex_btn_div {
    display: block;
    text-align: center;
}
.flex_btn {
    display: inline-block;
    font-family: 'RobotoMedium';
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
    margin-top: 0;
    padding: 12px 25px;
    text-align: center;
    transition: all 0.3s ease 0s;
}

/*Homepage Service Section--------------------------------------------------------------------------*/ 
.section_heading_title {
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0px auto 65px;
    padding: 0 15px;
    position: relative;
    width: 97.4%;
}
.section_heading_title h1 {
    font-family: 'RobotoMedium';
    font-size: 36px;
    font-weight: normal;
    line-height: 42px;
    margin: 0 0 10px;
    text-align: center;
    
}
.section_heading_title p {
    font-family: 'RobotoRegular';
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 10px;
    text-align: center;
    
}
.pagetitle-separator {
	height: 13px;
    margin: 23px auto 45px;
    width: 250px;
}

.service-section {
	padding: 70px 0 20px;
}
.service-box {
    display: block;
    transition: all 300ms ease-out 0s;
	margin-bottom: -120px;
	position: relative;
	z-index: 0;
}
.service-box img {
    border-radius: 100%;
    margin: 0 auto 16px;
    transition: all 600ms ease-out 0s;
	width: 200px;
	height: 200px;
}
.service-box1 img {
    border-radius: 100%;
    height: 125px;
    margin: 0 auto 16px;
    transition: all 600ms ease-out 0s;
    width: 125px;
}
.service-effect:hover .service-box img { 
	-webkit-transform: rotate(360deg); 
	-moz-transform: rotate(360deg); 
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg); 
}
.service-area {
	margin: 0px 0 60px;	
	padding: 127px 30px 30px;
	transition: background 0.3s ease-in-out 0s;
}
.service-area h2 {
    font-family: 'RobotoRegular';
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 11px;
    text-align: center;	
}
.service-area p {
    font-family: 'RobotoRegular';
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 27px;
    margin-top: 0;
    padding: 0px;
    text-align: center;
}
.service-btn {
    display: block;
    text-align: center;
	margin: 0 0 20px;
}
.service-btn a {
	display: inline-block;
    font-family: 'RobotoRegular';
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 9px 18px;
    text-align: center;
    transition: all 0.4s ease 0s;
}

/*Other Services Section-------------------------------------------------------------------------------*/
.other-service-area {
	border-radius: 0px;
	margin-bottom: 50px;
	padding: 0px 5px 5px;
	transition: all 0.4s ease 0s;
	text-align: center;
}
.other-service-area i {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 17px;
	font-size: 40px;
	border-radius: 100%;
	width: 125px;
	height: 125px;
	line-height: 120px;
	transition: all 0.3s ease 0s;
}
.other-service-area1 {
	display: block;
    position: relative;
    transition: all 300ms ease-out 0s;
    z-index: 0;
	margin-bottom: -104px;
}
.other-service-area1 i {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	font-size: 100px;
	border-radius: 100%;
	line-height: 120px;
	text-align: center;
}
.other-service-area1 i{
    border-radius: 100%;
    transition: all 600ms ease-out 0s;
	width: 200px;
	height: 200px;
	padding-top : 39px;
}
.service-effect:hover .other-service-area1 i{ 
	-webkit-transform: rotate(360deg); 
	-moz-transform: rotate(360deg); 
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
}
.other-service-area h2 {
	font-family: 'RobotoMedium';
	font-size: 18px;
	line-height: 30px;
	margin: 7px 0 14px;
	text-align: center;	
}
.other-service-area p {
	font-family: 'RobotoRegular';
	font-size: 15px;
	line-height: 27px;
	margin-bottom: 11px;
	margin-top: 5px;
	padding: 0 7px;
	text-align: center;
}

/*Homepage Portfolio Section--------------------------------------------------------------------------*/ 
.portfolio-section {
    margin: 0;
    padding: 70px 0 20px;
    width: 100%;
}
.home-portfolio-area{
	margin-bottom: 50px;
}
.home-portfolio-showcase {
    position: relative;
    padding: 0px;
}
.home-portfolio-showcase-media {
    position: relative;
}
.home-portfolio-showcase-media img {
    width: 100%;
}
.home-portfolio-showcase:hover .home-portfolio-showcase-title a {
    text-decoration: underline;
}
.home-portfolio-showcase-overlay {
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-portfolio-showcase-overlay-inner {
    left: 0;
	position: absolute;
	top: 50%;
	width: 100%;
	padding: 20px;
	margin-top: -120px;
}
.home-portfolio-showcase .home-portfolio-showcase-detail {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
.home-portfolio-showcase .home-portfolio-showcase-detail a {
    display: inline-block;
    margin-left: 0px;
    opacity: 1;
	text-decoration: none;
}
.home-portfolio-showcase .home-portfolio-showcase-detail a:hover {
    opacity: 1;
}
.home-portfolio-showcase .home-portfolio-showcase-detail h4 {
    padding: 0 0 15px;
    text-align: center;
    transition: all 180ms ease-in-out 0s;
    font-family: 'RobotoMedium';
	line-height: 20px;
	font-size: 18px;	
}
.home-portfolio-showcase .home-portfolio-showcase-detail p {
    font-family: 'RobotoRegular';
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 15px;
    padding: 0;
    text-align: center;
    transition: all 180ms ease-in-out 0s;
}
.portfolio-btn {
    display: block;
    margin: 0 0 20px;
    text-align: center;
}
.portfolio-btn a {
    display: inline-block;
    font-family: 'RobotoRegular';
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 7px 15px;
    text-align: center;
    transition: all 0.4s ease 0s;	
}
.home-portfolio-showcase:hover .home-portfolio-showcase-overlay {
    visibility: visible;
    opacity: 1;
}
.home-portfolio-showcase-fade {
    opacity: 0.2;
}
.home-portfolio-showcase-fade:hover .home-portfolio-showcase-overlay {
    display: none !important;
}
.proejct-btn {
    border-radius: 0;
    margin-top: 0;
    padding: 0;
    text-align: center;
    transition: all 0.4s ease 0s;
	margin: 0 0 50px;
	
}
.proejct-btn a {
    transition: all 0.4s ease 0s;
	display: inline-block;
    font-family: 'RobotoMedium';
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 0px;
    padding: 13px 30px;
    text-align: right;    
    vertical-align: middle;
}

/*Homepage Testimonial Section---------------------------------------------------------------------------------*/
.testimonial-section {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: 0px;
	padding:0px;
	height: 100%;
	width: 100%;
}
.testimonial-section .overlay {
	height: 100%;
	width: 100%;
	position: relative;
	padding: 70px 0px;
}
.testimonial-area {
	border-radius: 0px;
	margin-bottom: 0px;
	padding: 5px 5px 5px;
	text-align: center;
	height: auto;
}
.testimonial-area img {
	height: 100px;
	margin: 0 auto 27px;
	width: 100px;
}
.testimonial-area p {
	font-family: 'RobotoRegular';
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 25px;
	margin-top: 0;
	padding: 0 50px;
	text-align: center;
}
.testimonial-area h2 {
	font-family: 'RobotoMedium';
	font-size: 18px;
	line-height: 25px;
	margin: 0 0 15px;
	text-align: center;
	overflow: hidden;
}
.testimonial-area h2 > i {
	width: 40px;
	height: 1px;
	display: inline-block;
	margin: 0px 10px;
	vertical-align: middle;
}

/*Blog Section Css----------------------------------------------------------------------------------------------*/
.home-blog-section {
    padding: 70px 0 20px;
}
.home-blog-area {
    border: 0;
	border-radius: 0;
    margin-bottom: 60px;
    transition: all 0.4s ease 0s;
}
.home-blog-info {
	padding: 27px 25px 40px;
}
.home-blog-post-img {
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;
	overflow: hidden;
	position: relative;
	transition: all 200ms ease-out 0s;
}
.home-blog-post-img img {
	transition: all 300ms ease-out 0s;
	max-width: 100%;
	opacity: 0.8;
}
.home-blog-area:hover .home-blog-post-img img {
	-webkit-transform: scale(1.25);/* Saf3.1+, Chrome */
	-moz-transform: scale(1.25); /* FF3.5+ */
	-ms-transform: scale(1.25); /* IE9 */
	-o-transform: scale(1.25); /* Opera 10.5+ */
	transform: scale(1.25);
	opacity: 1;
}
.home-blog-area .home-blog-info h2 {
	font-family: 'RobotoLight';
    font-size: 36px;
    line-height: 45px;
    margin: 0 0 20px;
}
.home-blog-area .home-blog-info h2 > a {
	text-decoration: none;
	transition: all 0.4s ease 0s;
}
.home-blog-description {
	display: block;
	overflow: hidden;
	margin: 0 0 20px;
}
.home-blog-description p {
	font-family: 'RobotoRegular';
    font-size: 15px;
    line-height: 28px;
    margin: 0 0 7px;
    padding: 0;
}
.home-blog-post-detail {
    font-family: 'OpenSansSemiBold';
    font-size: 12px;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 0 0 23px;
    width: 100%;
}
.home-blog-post-detail span {
	display: inline-block;
    padding: 0px 0;
}
.home-blog-post-detail > .date {
    float: left;
	font-family: 'RobotoRegular';
	font-size: 15px;
	line-height: 26px;
}
.home-blog-post-detail > .comment {
    float: right;
	font-family: 'RobotoRegular';
	font-size: 12px;
	line-height: 20px;
	padding: 4px 0 0;
}
.home-blog-post-detail > .comment > a {
    padding: 0px 0px 0px 0;
    transition: all 0.3s ease 0s;
}
.home-blog-post-detail > .comment > a > i {
    font-size: 14px;
    margin-right: 3px;
}
.home-blog-btn {
    display: block;
    margin: 0 0 0px;
}
.home-blog-btn a {
	border-radius: 2px;
    display: inline-block;
    font-family: 'RobotoRegular';
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 10px 18px;
    text-align: center;
    transition: all 0.4s ease 0s;
}

/*Feetures Section Css---------------------------------------------------------------------------------------*/
.features-section {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}
.features-section .overlay {
	height: 100%;
	width: 100%;
	position: relative;
	padding: 85px 0px;
}
.features-img {
	margin-right: 30px;
	margin-bottom: 0px;
}
.features-area {
    margin-bottom: 30px;
    margin-top: 0 !important;
    padding-bottom: 0px;
}
.features-area:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.features-title {
	display: block;
    font-family: 'RobotoLight';
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 55px;
    margin-top: 0px;
    word-wrap: break-word;
}
.features-area h3 {
    display: block;
    font-family: 'RobotoRegular';
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 5px;
    margin-top: 0px;
    word-wrap: break-word;
}
.features-area p{
    font-family: 'RobotoLight';
    font-size: 15px;
    line-height: 25px;
    margin-right: 8px;
	display: block;
}
.feature-icon {
    border-radius: 100%;
    display: block;
    float: left;
    height: 60px;
    margin-left: 0;
    margin-right: 15px;
    width: 60px;
	text-align: center;
	transition: all 0.4s ease 0s;
}
.feature-icon i {
    font-size: 28px;
    line-height: 60px;
}

/*Tweet Section Css---------------------------------------------------------------------------------------------*/
.tweet-section {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: 100px;
	padding:0px;
	height: 100%;
	width: 100%;
}
.tweet-section .overlay {
	height: 100%;
	width: 100%;
	position: relative;
	padding: 70px 0px;
}
.tweet-area {
	border-radius: 0px;
	margin-bottom: 0px;
	padding: 5px 5px 5px;
	text-align: center;
	height: 100%;
}
.tweet-icon {
	display: block;
	overflow: hidden;
	text-align: center;
	margin: 0 0 36px;
}
.tweet-icon i {
    font-size: 85px;
    line-height: 70px;
}
.tweet-area p {
	font-family: 'RobotoRegular';
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 25px;
	margin-top: 0;
	padding: 0 50px;
	text-align: center;
}
.tweet-area h2 {
	font-family: 'RobotoRegular';
	font-size: 18px;
	line-height: 25px;
	margin: 0 0 35px;
	text-align: center;
}
.tweet-btn {
    display: block;
    margin: 0 0 25px;
	overflow: hidden;
}
.tweet-btn a {
    border-radius: 2px;
    display: inline-block;
    font-family: 'RobotoRegular';
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 12px 22px;
    text-align: center;    
    transition: all 0.4s ease 0s;
}

/*Clients Section Css------------------------------------------------------------------------------------------*/
.client-section  {
	margin: 0;
	padding: 70px 0 20px;
}
.clients-logo {
    display: block;
    min-height: 200px;
	height: 200px;
    margin: 0 0 60px;
    padding: 50px 25px;
    width: auto;
	white-space: nowrap;
}
.clients-logo img {
    display: block;
    margin: 0 auto;
	vertical-align: middle;
}

/*Footer Widgte Section-----------------------------------------------------------------------------------------*/
.footer_section {
	margin: 0px 0 0;
    padding: 0px;
    width: 100%;
}
.footer-social-area {
	width: 100%;
	overflow: hidden;
	display: block;
}
.footer-social-icons {
    margin: 0;
    padding: 25px 0;
    text-align: center;
}
.footer-social-icons li {
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    margin-right: 25px;
	margin-left: 25px;
    padding: 1px;
    text-align: center;
}
.footer-social-icons li > a > i {
    font-size: 30px;
    line-height: 40px;
	transition: all 0.3s ease 0s;
}
.footer-widget-section {
	padding: 55px 0 5px;
}
.footer_widget_column {
    margin-bottom: 50px;
}
.footer_widget_title {
    font-family: 'RobotoRegular';
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 40px;
}
.footer_section p {
    font-family: 'RobotoRegular';
    font-size: 14px;
    line-height: 25px;
	margin: 0 0 10px;
}
.footer-logo {
	display: bolck;
	margin: 25px 0 15px;
}
.footer-blog-post {
    margin-bottom: 5px;
    margin-top: 0 !important;
    padding-bottom: 20px;
}
.footer-blog-post:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.footer-blog-post h3 {
    display: block;
    font-family: 'RobotoRegular';
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 5px;
    margin-top: -5px;
    word-wrap: break-word;
}
.footer-blog-post:hover h3 a {
	transition: all 0.4s ease 0s;
}
.footer-blog-post span {
    font-family: 'RobotoRegular';
    font-size: 12px;
    line-height: 20px;
    margin-right: 8px;
	display: block;
}
.post-date {
    border-radius: 100%;
    display: block;
    float: left;
    height: 60px;
    margin-left: 0;
    margin-right: 15px;
    width: 60px;
	text-align: center;
	transition: all 0.4s ease 0s;
}
.post-date span.date {
	font-family: 'RobotoRegular';
    display: block;
    font-size: 24px;
    line-height: 22px;
    margin: 0;
    padding: 0;
	text-align: center;
	padding: 10px 0 0;
	overflow: hidden;
	transition: all 0.4s ease 0s;
}
.post-date span.month {
	font-family: 'RobotoRegular';
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    padding: 0;
	text-align: center;
	overflow: hidden;
	transition: all 0.4s ease 0s;
}
.footer-widget-flicker {
    margin-bottom: 15px;
    overflow: hidden;
    padding-top: 0;
    text-align: center;
}
.footer-widget-flicker span {
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    transition: all 200ms ease-out 0s;
    width: 23%;
}
.footer-widget-flicker span > a > img {
    width: 100%;
	transition: all 200ms ease-out 0s;
}
.footer-widget-flicker span > a > img:hover {
    opacity: 0.6;
}
.footer-widget-tags {
    margin: 0 0 10px;
    overflow: hidden;
    padding: 0px 0;
}
.footer-widget-tags a {
    cursor: pointer;
    display: inline-block;
    font-family: 'RobotoRegular';
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 5px 9px 0;
    padding: 6px 12px;
    transition: all 0.3s ease 0s;
    vertical-align: baseline;
    white-space: nowrap;
}
.footer-copyright {
    padding: 20px 0;
}
.footer-copyright p {
    font-family: 'RobotoRegular';
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    text-align: center;
}
.footer_widget_column > .tagcloud a{
    cursor: pointer;
    display: inline-block;
    font-family: 'RobotoRegular';
    font-size: 14px !important;
    font-weight: normal;
    line-height: 20px;
    margin: 0 5px 9px 0;
    padding: 6px 12px;
    transition: all 0.3s ease 0s;
    vertical-align: baseline;
    white-space: nowrap;
}

/*Page Header Css---------------------------------------------------------------------------------------------*/
.page-mycarousel {
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	height: 400px;
	margin-bottom: 80px;
}
.page-title-col {
	position: absolute;
	left: 0;
	right: 0;
	top: 40%;
	width: 100%;
	z-index: 11;
}
.page-header-title {
	background-position: center top;
	margin: 0 auto 59px;
	padding: 33px 0;
	position: relative;
	width: 97.4%;
}
.page-header-title h1 {
	font-family: 'RobotoMedium';
	font-size: 50px;
	line-height: 50px;
	margin: 0 0 5px;
}
.page-breadcrumbs {
	min-height: 60px;
	width: 100%;
	position: relative;
}
.breadcrumbs {
	background-color: transparent;
	padding: 17px 0px;
	margin-bottom: 0px;
	list-style: none;	
	border-radius: 4px;
}
.breadcrumbs > li {
	display: inline-block;
	font-family: 'RobotoRegular';
	font-size: 15px;
	line-height: 20px;
}
.breadcrumbs > li a {
	text-decoration: none;
}

/*About Us Page Css---------------------------------------------------------------------------------------------*/
.about-section {
    margin-bottom: 72px;
}
.about-section h3 {
	font-family: 'RobotoRegular';
	font-size: 24px;
	line-height: 25px;
	margin-bottom: 15px;
	padding: 0 0 0 10px;
	margin-top: 0;
}
.about-section p {
    font-family: 'RobotoRegular';
    font-size: 15px;
    line-height: 28px;
	margin: 0 0 15px;
	padding: 0 0 0 10px;
}
.about-social-icons {
	margin: 0;
	padding: 18px 0;
	padding-left: 10px;
}
.about-social-icons li {
	border-radius: 100%;
	cursor: pointer;
	display: inline-block;
	margin-right: 15px;
	padding: 1px;
}
.about-social-icons li > a > i {
	font-size: 25px;
	line-height: 30px;
	transition: all 0.3s ease 0s;
}
.team-section {
	margin: 0 0 0px;
}
.team-box {
    display: block;
    transition: all 300ms ease-out 0s;
	margin-bottom: -120px;
	position: relative;
	z-index: 0;
}
.team-box img {
    border-radius: 100%;
    margin: 0 auto 16px;
    transition: all 600ms ease-out 0s;
	width: 150px;
	height: 150px;
}
.team-effect:hover .team-box img { 
	-webkit-transform: rotate(360deg); 
	-moz-transform: rotate(360deg); 
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);	
}
.team-area {
	margin: 0 0 80px;	
	padding: 127px 25px 15px;
	transition: background 0.3s ease-in-out 0s;
}
.team-area h5 {
    font-family: 'RobotoRegular';
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 11px;
    text-align: center;
	display: block;transition: all 0.4s ease 0s;
}
.team-area h5 > span {
    font-family: 'RobotoRegular';
    font-size: 13px;
    line-height: 20px;
    margin: 3px 0 11px;
    text-align: center;
	display: block;
	transition: all 0.4s ease 0s;
}
.desi-seperate {
	width: 150px;
	height: 1px;
	display: block;
	margin: 0 auto 15px;																					
}
.team-area p {
    font-family: 'RobotoRegular';
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0px;
    text-align: center;
	transition: all 0.4s ease 0s;
}
.team-social-icons {
	margin: 0;
	padding: 10px 0;
	text-align: center;
}
.team-social-icons li {
	border-radius: 100%;
	cursor: pointer;
	display: inline-block;
	margin-right: 10px;
	padding: 1px;
}
.team-social-icons li > a > i {
	font-size: 14px;
	line-height: 20px;
	transition: all 0.3s ease 0s;
}
.callout-section {
	position: relative;
	float: left;
	width: 97.5%;
	min-height: 100px;
	font-size: 14px;
	padding: 13px 0px 35px;
	margin: 40px 15px 80px;
}
.callout-section h3 {
    font-family: 'RobotoRegular';
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: 16px;
    transition: all 0.5s ease 0s;
}
.callout-section p {
	font-family: 'RobotoRegular';
	font-size: 15px;
	line-height: 25px;
	margin: 0 0 10px;
}
.callout-section a {
	position: absolute;
	bottom: -5px;
	right: 0;
	margin: 0;
	padding: 9px 18px;
	font-family: 'RobotoRegular';
	font-size: 18px;	
	line-height: 25px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

/*Blog Section Css---------------------------------------------------------------------------------------------*/
.blog-section-left {
    float: none;
    margin-bottom: 70px;
    overflow: auto;
    padding: 0; 
	margin-right: 10px;
}
.blog-section-right {
	margin-left: 10px;
    float: none;
    margin-bottom: 70px;
    overflow: auto;
    padding: 0; 
}
.blog-section-full{
	float: none;
	margin-bottom: 70px;
	overflow: auto;
	padding: 0;
	margin-right: 0px;
}
.blog-detail-section {
    float: none;
    margin-bottom: 50px;
    overflow: auto;
    padding: 0; 
	margin-right: 10px;
}
.blog-post-img {
    float: left;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;
	overflow: hidden;
	position: relative;
	transition: all 200ms ease-out 0s;
}
.blog-post-img:hover img {
	-webkit-transform: scale(1.20);/* Saf3.1+, Chrome */
	-moz-transform: scale(1.20); /* FF3.5+ */
	-ms-transform: scale(1.20); /* IE9 */
	-o-transform: scale(1.20); /* Opera 10.5+ */
	transform: scale(1.20);
	opacity: 1;
}
.blog-post-img img {
	transition: all 300ms ease-out 0s;
	max-width: 100%;
	opacity: 0.9;	
}
.blog-post-title {
	display: block;
	width: 100%;
	overflow: hidden;
	padding: 40px 30px 30px;
}
.blog-post-title > .blog-post-title-wrapper > h1{
	font-size: 46px;
    line-height: 54px;
}
.blog-post-title > .blog-post-title-wrapper > h2 {
    font-size: 40px;
    line-height: 48px;
}
.blog-post-title > .blog-post-title-wrapper > h3 {
    font-size: 34px;
    line-height: 42px;
}
.blog-post-title > .blog-post-title-wrapper > h4 {
    font-size: 28px;
    line-height: 36px;
}
.blog-post-title > .blog-post-title-wrapper > h5 {
    font-size: 22px;
    line-height: 30px;
}
.blog-post-title > .blog-post-title-wrapper > h6 {
    font-size: 16px;
    line-height: 24px;
}
.blog-post-title > .blog-post-title-wrapper > h1,
.blog-post-title > .blog-post-title-wrapper > h2,
.blog-post-title > .blog-post-title-wrapper > h3,
.blog-post-title > .blog-post-title-wrapper > h4,
.blog-post-title > .blog-post-title-wrapper > h5,
.blog-post-title > .blog-post-title-wrapper > h6{
    font-family: 'RobotoLight';
    margin: 0 0 20px;
}
.blog-post-date {
    border-radius: 0;
    display: block;
    float: left;
    font-family: 'OpenSansSemiBold';
    height: 102px;
    margin-left: 0;
    margin-right: 3.5%;
	margin-bottom: 25px;
    width: 60px;
}
.blog-post-date span.date {
	font-family: 'RobotoRegular';
    display: block;
    font-size: 36px;
    line-height: 35px;
    margin-bottom: 0px;
	padding: 2px 0 3px;
	text-align: center;
}
.blog-post-date span.date > small{
    display: block;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 4px;
    padding: 0px 0;
	text-align: center;
}
.blog-post-date span.comment {
    display: block;
    font-family: 'RobotoBold';
    font-size: 14px;
    line-height: 20px;
	text-align: center;
	padding: 9px 0;
}
.blog-post-date span.comment > i {
	font-size: 15px;
	line-height: 20px;
	margin-right: 5px;
}
.blog-post-title-wrapper {
    float: left;
    width: 86.5%;
}
.blog-post-title-wrapper-full {
    float: left;
    width: 90%;
}
.blog-post-title-wrapper h2, .blog-post-title-wrapper-full h2 {
    font-family: 'RobotoLight';
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 16px;
    margin-top: -10px;
    padding-bottom: 0;
}
.blog-post-title-wrapper h2 a, .blog-post-title-wrapper-full h2 a {
    transition: all 0.3s ease 0s;
}
.blog-post-title-wrapper p, .blog-post-title-wrapper-full p {
    font-family: 'RobotoRegular';
	font-size: 15px;
	line-height: 25px;
	margin: 0 0 15px;
}
.blog-post-title-wrapper > table, .blog-post-title-wrapper-full  > table{
    width: 100%;
	border-collapse: unset;
	margin-bottom: 37px;
}
.blog-post-title-wrapper > table > tbody > tr > th, .blog-post-title-wrapper-full > table > tbody > tr > th {
	padding: 12px 15px 12px 15px;
}
.blog-post-title-wrapper > table > tbody > tr > th:first-child, .blog-post-title-wrapper-full > table > tbody > tr > th:first-child {
    border-right: medium none !important;
    border-top-left-radius: 0px !important;
}
.blog-post-title-wrapper > table > tbody > tr > th:last-child, .blog-post-title-wrapper-full > table > tbody > tr > th:last-child{
    border-right: medium none !important;
    border-top-right-radius: 0px !important;
}
.blog-post-title-wrapper > table > tbody > tr > td, .blog-post-title-wrapper-full > table > tbody > tr > td {
	padding: 12px 15px 12px 15px;
	border-right: 0px !important;
}
.blog-post-title-wrapper > table > tbody > tr:last-child td:first-child, .blog-post-title-wrapper-full > table > tbody > tr:last-child td:first-child {
    border-bottom-left-radius: 0px !important;
}
.blog-post-title-wrapper > table > tbody > tr:last-child td:last-child, .blog-post-title-wrapper-full > table > tbody > tr:last-child td:last-child {
    border-bottom-right-radius: 0px !important;
}
.blog-post-title-wrapper > table > thead > tr > td,
.blog-post-title-wrapper-full > table > thead > tr > td,
.blog-post-title-wrapper > table > thead > tr > th,
.blog-post-title-wrapper-full > table > thead > tr > th {
	padding: 8px !important;
}
.blog-post-detail {
    font-family: 'RobotoMedium';
    margin: 35px 0 0px;
    padding: 10px 0 0;    
    width: 100%;
	overflow: hidden;
}
.blog-post-detail a {
    font-size: 12px;
    padding: 5px 20px 5px 0;
    transition: all 0.3s ease 0s;
}
.blog-post-detail a > i {
    font-size: 14px;
    margin-right: 9px;
	vertical-align: middle;
	margin-top: -3px;
}
.blog-tags {
    display: inline-block;
    margin: 0 5px 5px;
}
.blog-tags i {
    font-size: 14px;
    margin-right: 9px;
	vertical-align: middle;
}
.blog-tags a {
    font-size: 12px;
    padding: 5px 5px 5px 0;
    transition: all 0.3s ease 0s;
}
.blog-btn-col {
	display: block;
	margin: 0 0 0px;
}
a.blog-btn {
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    display: inline-block;
    font-family: 'RobotoRegular';
    font-size: 13px;
    line-height: 20px;
	margin-top: 12px;
    margin-bottom: 0;
    padding: 9px 18px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
	text-decoration: none;
}
.blog-pagination {
    margin: 0 0 90px;
    overflow: hidden;
    padding: 0;
	text-align: center;
}
.blog-pagination a, .page-links a {
    cursor: pointer;
    display: inline-block;
    font-family: 'RobotoRegular';
    font-size: 18px;
    line-height: 20px;
    margin: 0 3px 10px;
    padding: 11px 18px;
    vertical-align: baseline;
    white-space: nowrap;
}

/*Sidebar Section Css---------------------------------------------------------------------------------*/

/* Edit by Harish For Sidebar Section*/
.sidebar-section {
    padding: 30px 20px 98px;
	margin-left: 0px;
	margin-bottom: 70px;
}
.sidebar-widget {
    margin-bottom: 70px;
    margin-top: 0;
    padding: 0px;
}
.sidebar-widget:last-child {
    margin-bottom: 0px;
}
.sidebar-widget-title {
    margin-bottom: 25px;
}
.sidebar-widget > ul, .footer_widget_column > ul{
	list-style: none outside none;
    margin-bottom: 15px;
	margin-left: 0px;
    padding: 0;
}
.sidebar-widget > div.textwidget, .footer_widget_column > div.textwidget {
    font-family: 'RobotoRegular';
    font-size: 14px;
    line-height: 25px;
    margin: 0 0 10px;
}
.sidebar-widget > ul > li{
    display: block;
    font-family: 'RobotoRegular';
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    vertical-align: top;
}
.sidebar-widget > ul > li:first-child {
	padding-top: 0px;
}
.footer_widget_column > ul > li{
    display: block;
    font-family: 'RobotoRegular';
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin-right: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
    vertical-align: top;
}
.footer_widget_column > ul > li > a,
.footer_widget_column > ul > li > ul > li > a,
.footer_widget_column > ul > li > ul > li > ul > li > a{
	transition: all 0.3s ease 0s;
}
.footer_widget_column > ul > li > a:hover,
.footer_widget_column > ul > li > ul > li > a:hover,
.footer_widget_column > ul > li > ul > li > ul > li > a:hover{
    transition: all 0.3s ease 0s;
}
.sidebar-widget ul.sidebar-tab.sidebar-widget-tab > li{
    display: inline-block;
    font-family: 'RobotoRegular';
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 0 10px;
    padding: 0px;
    vertical-align: top;
	border-bottom: none;
}
.sidebar-widget ul.sidebar-tab.sidebar-widget-tab > li > a:hover{
    transition: all 0.3s ease 0s;
}
.sidebar-widget > ul > li > a,
.sidebar-widget > ul > li > ul > li > a,
.sidebar-widget > ul > li > ul > li > ul > li > a {
    transition: all 0.3s ease 0s;
}
.sidebar-widget > ul > li > a:hover,
.sidebar-widget > ul > li > ul > li > a:hover,
.sidebar-widget > ul > li > ul > li > ul > li > a:hover{
    transition: all 0.3s ease 0s;
}
.sidebar-widget > ul > li > a:before, .footer_widget_column > ul > li > a:before{
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f04d";
}
.sidebar-widget  ul#recentcomments > li.recentcomments > a:before, .sidebar-widget ul.sidebar-tab.sidebar-widget-tab > li > a:before{
	font-family: FontAwesome;
    content: none;
	
}
.footer_widget_column  ul#recentcomments > li.recentcomments > a:before, .footer_widget_column ul.sidebar-tab.sidebar-widget-tab > li > a:before{
	font-family: FontAwesome;
    content: none;
	
}
.sidebar-widget > ul > li > a:before, .footer_widget_column > ul > li > a:before{
    font-size: 6px;
    font-weight: normal;
    line-height: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
.sidebar-widget-title h2 {
	font-family: "RobotoRegular";
	font-size: 22px;
	line-height: 30px;
	margin: 0px;
	padding-bottom: 0px;
	word-wrap: break-word;
}
.sidebar-widget > .tagcloud a{
    cursor: pointer;
    display: inline-block;
    font-family: 'RobotoRegular';
    font-size: 13px !important;
    line-height: 20px;
    margin: 0 7px 10px 0;
    padding: 6px 14px;
    transition: all 0.3s ease 0s;
    vertical-align: baseline;
    white-space: nowrap;
}
.search-widget {
    display: block;
    overflow: hidden;
}
.search-widget input {
    border-radius: 0;
    font-family: 'RobotoRegular';
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
	width: 100%;
}
.search-widget a {
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-family: 'RobotoMedium';
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    margin-bottom: 10px;
    margin-right: 0;
    padding: 11px 29px;
    text-align: center;    
    vertical-align: middle;
    white-space: nowrap;
}
.sidebar-widget #searchform {
	overflow: hidden;
}
.search_widget_input{
    border-radius: 0;
    font-family: 'RobotoMedium';
    font-size: 14px;
    line-height: 20px;
    margin: 25px 0px 15px 0px;
    height: 46px;
    padding: 10px 16px;
    background-image: none;
    display: block;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.search_btn{
	border-radius: 3px;
	border: 0 none;	
	border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    font-family: 'RobotoMedium';
    font-size: 18px;
    font-weight: normal;
	float: right;
    line-height: 22px;
    margin-bottom: 10px;
    margin-right: 0px;
    padding: 11px 29px;
    text-align: center;
	vertical-align: middle;
    white-space: nowrap;
}
.search_widget_input:focus {
  outline: 0;
}
.search_error{
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.search_err_heading{
	font-size: 20px;
	font-family: 'RobotoRegular';
}
.wallstreet_searching{
	font-size: 16px;
	font-family: 'RobotoRegular';
}
.search_heading{
    font-family: 'RobotoRegular';
    font-size: 35px;
    margin: 0 0 20px 10px;
    padding: 10px;
}
.sidebar-widget div#calendar_wrap table#wp-calendar ,.footer_widget_column div#calendar_wrap table#wp-calendar{
	padding: 0px;
}
.sidebar-widget div#calendar_wrap table > caption,.footer_widget_column div#calendar_wrap table > caption{
	font-size: 18px;
	font-family: RobotoBold;
	margin-bottom: 10px;
}
.sidebar-widget div#calendar_wrap table > thead > tr > th,.footer_widget_column div#calendar_wrap table > thead > tr > th{
	padding: 6px 10px;
	margin: 0px;
	font-size: 18px;
	text-align:center;
	line-height: 20px;
}
.sidebar-widget div#calendar_wrap table > tfoot > tr > td ,.footer_widget_column div#calendar_wrap table > tfoot > tr > td {
	padding: 10px;
	margin: 0px;
	font-size: 20px;
	text-align:center;
}
.sidebar-widget div#calendar_wrap table > tbody > tr > td ,.footer_widget_column div#calendar_wrap table > tbody > tr > td{
	padding: 10px;
	margin: 0px;
	font-size: 14px;
	text-align:center;
}

.sidebar-tweet-area {
	margin: 0 0 25px;
    padding-bottom: 0;
}
.sidebar-tweet-area:last-child {
	margin: 0px;
}
.sidebar-tweet-area .media-body {
	padding: 0 0 5px
}
.sidebar-tweet-area i {
    padding: 0;
    text-align: center;
	font-size: 30px;
    line-height: 30px;
	margin-right: 5px;
}
.sidebar-tweet-area p {
    display: inline-block;
    font-family: 'RobotoRegular';
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 5px;
    margin-top: 0;
    word-wrap: break-word;
	text-align: justify;
}
.sidebar-tweet-area span {
    display: block;
    font-family: 'RobotoRegular';
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 5px;
    margin-top: 0;
    word-wrap: break-word;
}
.sidebar_thumb{ height:70px !important; width:70px !important; }
.sidebar-widget-tab {
	padding: 0px 0 13px;
}
.sidebar-tab {
	margin: 0 0 10px;
}
.sidebar-tab li {
	display: inline-block;
	padding: 0px;
	list-style: none outside none;
	background: transparent;
}
.sidebar-widget-tab li a {
	display: inline-block;
	font-family: 'RobotoRegular';
	font-size: 14px;
	line-height: 25px;
	margin: 0;
	padding: 6px 18px;
	
}
.post-media-sidebar {
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 25px;
    padding-top: 5px;
}
.post-media-sidebar:last-child {
    border-bottom: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.post-sidebar-img {
    margin-right: 10px;
	width: 70px;
	height: 70px;
	transition: all 200ms ease-out 0s;
}
.post-sidebar-img:hover {
    opacity: 0.6;
}
.post-media-sidebar h3 {
    font-family: 'RobotoRegular';
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 0;
    word-wrap: break-word;
}
.post-media-sidebar p{
    font-family: 'RobotoLight';
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 5px;
    margin-top: 0;
    word-wrap: break-word;
}
a.readmore{
    font-family: 'RobotoLight';
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 5px;
    margin-top: 0;
    word-wrap: break-word;
}
.sidebar-comment-box {
	display: block;
	margin-top: 0px;
}
.sidebar-comment-box span {
	font-family: 'RobotoRegular';
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 0;
    word-wrap: break-word;
}
.sidebar-comment-box span > small{
    font-family: 'RobotoLight';
    font-size: 16px;
    margin: 0 10px;
}
.sidebar-comment-box span > a{
	margin-left: 0px;
}
.sidebar-comment-box span > a > i{
    font-size: 5px;
    line-height: 10px;
    vertical-align: middle;
}
/*Sidebar Links*/
.post-content{
    margin-bottom: 0px;
	list-style: none outside none;
    padding: 0;
}
.post-content li {
	display: block;
	font-family: 'RobotoRegular';
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	margin-right: 10px;
	padding-top: 10px;
	vertical-align: top;
	padding-bottom: 10px;
}
.post-content li:first-child {
	padding-top: 0px;
}
.post-content li > i {
	font-size: 6px;
	line-height: 10px;
	font-weight: normal;
	margin-right: 10px;
	vertical-align: middle;
}
.post-content li a {
	transition: all 0.3s ease 0s;
}
/*Sidebar Tags*/
.sidebar-widget-tags {
    margin: 0 0 10px;
    overflow: hidden;
    padding: 4px 0;
}
.sidebar-widget-tags a {
    cursor: pointer;
    display: inline-block;
    font-family: 'RobotoRegular';
    font-size: 13px;
    line-height: 20px;
    margin: 0 7px 10px 0;
    padding: 7px 15px;
    transition: all 0.3s ease 0s;
    vertical-align: baseline;
    white-space: nowrap;
}

/*Blog Detail Section Css-----------------------------------------------------------------------------*/
.blog-blockquote {
	float: left;
	width: 100%;
}
.blog-blockquote blockquote {
	margin: 15px 0 25px;
	padding: 0px 20px;
	width: auto;
}
.blog-blockquote blockquote > span {
	font-family: 'RobotoItalic';
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 0;
}
.blog-blockquote blockquote > small {
	display: block;
	font-family: 'RobotoRegular';
	font-size: 14px;
	line-height: 20px;
	margin-top: 5px;
}
.blog-post-title-wrapper > blockquote, .blog-post-title-wrapper-full > blockquote{
    margin: 0 0 28px;
    padding: 18px 20px;
    width: auto;
}
.blog-post-title-wrapper blockquote > p > small, .blog-post-title-wrapper-full blockquote > p > small{
	font-family: 'RobotoItalic';
	font-size: 15px;
	line-height: 25px;
	margin-top: 10px;
}
.blog-post-title .blog-post-title-wrapper blockquote > p > span, .blog-post-title .blog-post-title-wrapper-full blockquote > p > span{
    font-family: 'RobotoLight';
    font-size: 15px;
}
.blog-post-title .blog-post-title-wrapper ul > li > span, .blog-post-title .blog-post-title-wrapper-full ul > li > span{
    font-family: 'RobotoRegular';
    font-size: 16px !important;
	line-height: 25px !important;
    margin: 0 0 15px;
}
.blog-author {
	float: none;
	margin: 0 0 50px;
	padding: 30px 20px;
	margin-right: 10px;
}
.blog-author img {
	width: 100px;
	height: 100px;
	margin-right: 15px;
}
.blog-author h6 {
	font-family: 'RobotoMedium';
	font-size: 14px;
	line-height: 20px;
	margin: 0 0 8px;
}
.blog-author p {
	font-family: 'RobotoRegular';
	font-size: 15px;
	line-height: 25px;
	margin: 0 0 13px;
}
.blog-author-social {
	margin: 0;
	padding: 0;
}
.blog-author-social li {
	cursor: pointer;
	display: inline-block;
	height: 25px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-top: 5px;
	padding: 2px;
	text-align: center;
	transition: background 0.3s ease-in-out 0s;
	width: 25px;
}

/*comment Section*/
.comment-section {
	float: none;
	margin: 0 0 50px;
	padding: 30px 20px;
	margin-right: 10px;
}
.comment-title {
	display: block;
	margin: 0 0 25px;
	padding: 0 0 15px;
}
.comment-title h3 {
	font-family: 'RobotoRegular';
	font-size: 24px;
	line-height: 30px;
	margin: 0 0 0px;
	padding: 0px;
}
.comment-title h3 > i {
	font-size: 26px;
	margin-right: 8px;
}
.comment-box {
	margin: 0 0 0px !important;
	padding: 0px 0 0;
	position: relative;
}
.pull-left-comment {
	float: left;
	margin-right: 25px;
}
.comment-img {
	border-radius: 100%;
	height: 70px;
	margin: 2px 0 20px;
	width: 70px;
}
.comment-detail {
	margin-left: 0;
	margin-bottom: 40px;
	padding: 0 0 25px;
}
.comment-detail-title {
	font-family: 'RobotoMedium';
	font-size: 15px;
	line-height: 20px;
	margin: 0 0 15px;
}
.comment-date a{
	font-family: 'RobotoRegular';
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	padding-left: 7px;
	float: right;
	vertical-align: middle;
}
.comment-detail p {
	font-family: 'RobotoRegular';
	text-align: justify;
	font-size: 14px;
	line-height: 25px;
	margin: 0 0 27px;
}
.reply {
	font-family: 'RobotoRegular';
	font-size: 13px;
}
.reply a {
	font-size: 13px;
	line-height: 20px;
	padding: 2px 11px;
	font-family: 'RobotoRegular';
	display: inline-block;
	transition: all 0.4s ease 0s;
}
.comment-form-section {
	float: none;
	margin: 0 0 80px;
	padding: 6px 20px 31px;
	margin-right: 10px;
}

.comment-awaiting-moderation{
	margin-top: 15px;
	display: block;
}
.form-inline .blog-form-group {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
	width: 49%;
	margin-right: 5px;
}
.blog-form-group {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
	width: 49%;
	margin-right: 5px;
}
.form-inline .blog-form-group-textarea {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
	width: 99.3%;
}
.blog-form-group-textarea {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
	width: 99.3%;
}
.blog-form-group {
	margin-bottom: 15px;
}
.blog-form-control {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	font-family: 'RobotoRegular';
	height: 46px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 20px;
	border-radius: 0px;
	margin-bottom: 20px;
}
.blog-form-control-textarea {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	padding: 6px 12px;
	font-family: 'RobotoRegular';
	font-size: 14px;
	line-height: 20px;
	border-radius: 0px;
	margin-bottom: 25px;
}
.blogdetail-btn {
	display: block;
	margin: 0 0 10px;
}
.blogdetail-btn a {
	display: inline-block;
	font-family: 'RobotoRegular';
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 12px 24px;
	text-align: center;
	transition: all 0.4s ease 0s;
}
#blogdetail_btn {
	display: block;
	margin: 0 0 10px;
	display: inline-block;
	font-family: 'RobotoRegular';
	font-size: 15px ;
	line-height: 20px;
	margin-bottom: 0;
	padding: 12px 24px;
	text-align: center;
	transition: all 0.4s ease 0s;
	border: none;
}

/*Portfolio 2 Column Section Css---------------------------------------------------------------------*/
/*Portfolio Tabs*/
.portfolio-tabs-section {
	margin-bottom: 35px;
	text-align: center;
}
.portfolio-tabs {
	display: inline-block;
	height: auto;
	margin: 0;
	padding: 0;
	position: relative;
}
.portfolio-tabs li {
	float: none;
	display: inline-block;
	margin: 0px 5px 10px 0;
	list-style: none outside none;
}
.portfolio-tabs li a {
	display: inline-block;
	font-family: 'RobotoRegular';
	font-size: 15px;
	text-decoration: none;
	transition: all 0.3s ease;
	padding: 10px 20px;	
}
/*Portfolio*/
.main-portfolio-section {
	margin: 0 0 90px;
}
.main-portfolio-area{
	margin-bottom: 40px;
}
.main-portfolio-showcase {
    position: relative;
    padding: 0px;
}
.main-portfolio-showcase:before, .main-portfolio-showcase:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.main-portfolio-showcase-media {
    position: relative;
}
.main-portfolio-showcase-media img {
    width: 100%;
}
.main-portfolio-showcase:hover .main-portfolio-showcase-title a {
    text-decoration: underline;
}
.main-portfolio-showcase-overlay {
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.main-portfolio-showcase-overlay-inner {
    left: 0;
	margin-top: 0;
	position: absolute;
	top: 50%;
	width: 100%;
	padding: 20px;
	margin-top: -117px;
}
.main-portfolio-showcase .main-portfolio-showcase-detail {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
.main-portfolio-showcase .main-portfolio-showcase-detail a {
    display: inline-block;
    opacity: 1;
	text-decoration: none;
}
.main-portfolio-showcase .main-portfolio-showcase-detail a:hover {
    opacity: 1;
}
.main-portfolio-showcase .main-portfolio-showcase-detail h4 {
    padding: 0 0 15px;
    text-align: center;
    transition: all 180ms ease-in-out 0s;
    font-family: 'RobotoMedium';
	line-height: 20px;
	font-size: 18px;	
}
.main-portfolio-showcase .main-portfolio-showcase-detail p {
    font-family: 'RobotoRegular';
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
    transition: all 180ms ease-in-out 0s;
}
.portfolio-icon {
    display: block;
    margin: 0 0 20px;
    text-align: center;
}
.portfolio-icon a {
	display: inline-block;
	padding: 8px 12px;
	border-radius: 7%;
	margin-left: 2px;
	margin-right: 2px;
}
.portfolio-icon a > i{
	font-size: 16px;
	line-height: 22px;
}
.main-portfolio-showcase:hover .main-portfolio-showcase-overlay {
    visibility: visible;
    opacity: 1;
}
.main-portfolio-showcase-fade {
    opacity: 0.2;
}
.main-portfolio-showcase-fade:hover .main-portfolio-showcase-overlay {
    display: none !important;
}

/*Portfolio Detail Section----------------------------------------------------------------------------*/
.portfolio-detail-section {
    margin-bottom: 90px;
}
.port-detail-img {
	margin-bottom: 0px;
	margin-top: 0px;
	width: 100%;
	position: relative;
}
.port-detail-img:before, .port-detail-img:after {
    border-radius: 100px / 10px;
    bottom: 0;
    content: "";
    left: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: -1;
}
.portfolio-detail-sidebar {
    margin-bottom: 30px;
}
.portfolio-detail-pagi {
    margin-bottom: 30px;
    margin-right: 20px;
    overflow: hidden;
    padding: 0 0 0px;
}
.portfolio-detail-pagi li:first-child {
    margin-left: 0;
}
.portfolio-detail-pagi li {
    display: block;
    float: left;
    margin-left: 5px;
}
.portfolio-detail-pagi li a {
    display: block;
    height: 35px;
    padding: 4px 11px;
    transition: all 0.3s ease 0s;
    width: 35px;
	text-align: center;
}
.portfolio-detail-pagi li a span {
    font-size: 22px;
	line-height: 1.3;
}
.portfolio-detail-description {
    margin-bottom: 30px;
    margin-right: 20px;
    overflow: hidden;
    padding: 0 0 20px;
}
.portfolio-detail-description p {
    font-family: 'RobotoRegular';
    font-size: 15px;
    line-height: 25px;
    margin: 0 0 10px;
}
.portfolio-detail-info {
    margin-bottom: 27px;
    margin-right: 20px;
    overflow: hidden;
}
.portfolio-detail-info p {
    font-family: 'RobotoRegular';
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 18px;
}
.portfolio-detail-info p small {
    font-family: 'RobotoMedium';
    font-size: 15px;
    margin: 5px 0 0;
}
.portfolio-detail-info .project-btn {
	display: inline-block;
	font-family: 'RobotoREgular';
	font-size: 14px;
	line-height: 20px;
	margin: 10px 0;
	padding: 9px 20px;
	text-align: right;
	transition: all 0.4s ease 0s;
	vertical-align: middle;
	text-align: center;
	
}
.related-project-section {
	margin: 0 0 50px !important;
	overflow: hidden;
}
.prelated-project-btn {
    margin-bottom: 100px;
    margin-right: 0px;
    overflow: hidden;
    padding: 0 0 0px;
	text-align: center;
}
.prelated-project-btn  li:first-child {
    margin-left: 0;
}
.prelated-project-btn  li {
    display: inline-block;
    margin-left: 5px;
}
.prelated-project-btn  li a {
    display: inline-block;
    height: 35px;
    padding: 4px 11px;
    transition: all 0.3s ease 0s;
    width: 35px;
	text-align: center;
}
.prelated-project-btn  li > a > i {
    font-size: 22px;
	line-height: 1.2;
}

/*Contact Map Section Css--------------------------------------------------------------------------*/
.qua_contact_area {
	width: 100%;
	margin-top: -80px;
}
.google-map-title {
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding: 8px 0 18px;
}
.google-map-title h1 {
	font-family: 'RobotoRegular';
	font-size: 36px;
	line-height: 30px;
	display: block;	
	text-align: center;
}
.qua_google_map {
    margin-bottom: 0px;
    margin-top: 0px;
}
.contact-detail-section {
	margin-top: -95px;
	margin-bottom: 60px;
}
.contact-detail-area {
    border-radius: 0;
    margin-bottom: 35px;
    padding: 40px 40px 27px;
    text-align: center;
    transition: all 0.4s ease 0s;
}
.contact-detail-area span {
    display: block;
    margin: 0 0 20px;
}
.contact-detail-area i {
	border-radius: 100%;
	display: block;
	font-size: 20px;
	height: 50px;
	line-height: 52px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.1s ease 0s;
	width: 50px;
}
.contact-detail-area h5 {
    font-family: 'RobotoRegular';
    font-size: 24px;
    line-height: 30px;
    margin: 0px 0 36px;
    text-align: center;
}
.contact-detail-area address {
    font-family: 'RobotoRegular';
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 5px;
    margin-top: 0px;
    padding: 0 0px;
    text-align: center;
}
.contact-form-section {
	margin-top: 0px;
	margin-bottom: 100px;
}
.cont-heading-title {
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0 auto 52px;
    padding: 0 15px;
    position: relative;
    width: 98%;
}
.cont-heading-title h1 {
    font-family: 'RobotoRegular';
    font-size: 36px;
    font-weight: normal;
    line-height: 35px;
    margin: 0 0 10px;
    text-align: center;	
}
.cont-heading-title p {
    font-family: 'RobotoRegular';
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 33px;
    text-align: center;
}
.form-inline .cont-form-group {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
	width: 49%;
	margin-right: 5px;
}
.form-inline .cont-form-group-textarea {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
	width: 99.3%;
}
.cont-form-group {
	margin-bottom: 15px;
}
.cont-form-control {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	font-family: 'RobotoRegular';
	height: 46px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 20px;
	border-radius: 0px;
	margin-bottom: 20px;
}
.cont-form-control-textarea {
	display: inline-block;
	width: 99.4%;
	vertical-align: middle;
	padding: 6px 12px;
	font-family: 'RobotoRegular';
	font-size: 14px;
	line-height: 20px;
	border-radius: 0px;
	margin-bottom: 25px;
}
.cont-btn {
	display: block;
	margin: 0 0 10px;
}
.cont-btn a {
	display: inline-block;
	font-family: 'RobotoRegular';
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 12px 24px;
	text-align: center;
	transition: all 0.4s ease 0s;
}
.qua_contact_btn{
	display: block;
	margin: 0 0 10px;
	display: inline-block;
	font-family: 'RobotoRegular';
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 12px 24px;
	text-align: center;
	transition: all 0.4s ease 0s;
	border: none;
}

/*Typography Section Css------------------------------------------------------------------------------*/
.typo-section {
	margin-bottom: 0px !important;
	overflow: auto;
	padding: 0 0 0px;
	float: none;
}
.blog-post-title-wrapper > .typo-section{
	margin-bottom: 0px !important;
}
.typo-head-title {
	display: block;
	margin: 0px 0 40px;
}
.typo-head-title h3 {
	font-family: 'RobotoLight';
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 1px;
	margin: 0 0 -1px;
	padding-bottom: 15px;
	padding-right: 10px;
}
.typo-section h1, .typo-section h2,
.typo-section h3, .typo-section h4,
.typo-section h5, .typo-section h6 {
	font-family: 'RobotoLight';
	margin: 0 0 20px;
}
.typo-section h1 {
	font-size: 46px;
	line-height: 54px;
}
.typo-section h2 {
	font-size: 40px;
	line-height: 48px;
}
.typo-section h3 {
	font-size: 34px;
	line-height: 42px;
}
.typo-section h4 {
	font-size: 28px;
	line-height: 36px;
}
.typo-section h5 {
	font-size: 22px;
	line-height: 30px;
}
.typo-section h6 {
	font-size: 16px;
	line-height: 24px;
}
.typo-section p {
	font-family: 'RobotoLight';
	line-height: 27px;
	font-size: 16px;
	margin: 0 0 40px;
}
.typo-section p:last-child {
	margin: 0 0 0px;
}
/*Blockquote*/
.typo-section blockquote {
	margin: 0 0 28px;
	padding: 18px 20px;
	width: auto;
}
.typo-section blockquote > span {
	font-family: 'RobotoLight';
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 0;
}
.typo-section blockquote > small {
	display: block;
	font-size: 14px;
	font-family: 'RobotoItalic';
	line-height: 20px;
	margin-top: 13px;
}
.typo-section blockquote {
	margin: 0 0 28px;
	padding: 18px 20px;
	width: auto;
}
.blockquote2 > span {
	font-family: 'RobotoLight';
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 0;
	text-align: right;
	display: block;
}
.blockquote2 > small {
	display: block;
	font-size: 14px;
	font-family: 'RobotoItalic';
	line-height: 20px;
	margin-top: 13px;
	text-align: right;
}
/*List Styles*/
.typo-para-section {
	margin-bottom: 60px;
	overflow: auto;
	padding: 0 0 0px;
	float: none;
}
.typo-para-icons {
	margin: 0 0 50px;
}
.typo-para-icons span {
	font-family: 'RobotoRegular';
	font-size: 14px;
	line-height: 22px;
	margin: 0 0 5px;
	display: block;
}
.typo-para-icons i {
	margin-right: 10px;
	font-size: 16px;
	float: left;
	line-height: 22px;
}
.para-box {
	overflow: hidden;
	margin: 0 0 10px;
}

/*Shortcode Section Css-----------------------------------------------------------------------------*/
.short-section {
	margin-bottom: 60px;
	overflow: auto;
	padding: 0 0 0px;
	float: none;
}
.short-section p {
	margin: 0 0 15px;
}
.short-btn-large {
	display: inline-block;
	padding: 20px 32px;
	margin: 0px 10px 15px 0px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	text-transform: lovercase;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 0px;
	font-family: 'RobotoMedium';
}
.short-btn-small {
	display: inline-block;
	padding: 13px 25px;
	margin: 0px 10px 10px 0px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	text-transform: lovercase;
	vertical-align: middle;
	cursor: pointer;
	font-family: 'RobotoMedium';
	border-radius: 0px;
}
.short-btn-mini {
	display: inline-block;
	padding: 8px 18px;
	margin: 0px 10px 10px 0px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	text-transform: lovercase;
	vertical-align: middle;
	cursor: pointer;
	font-family: 'RobotoRegular';
	border-radius: 0px;
}
/*Dropcap*/
.dropcape-square, .dropcape-simple, .dropcape-circle {
	font-family: 'RobotoRegular';
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 40px !important; 
	margin-top: 0;
}
.dropcape-square span {
	display: block;
	float: left;
	font-family: 'RobotoBold';
	font-size: 45px;
	height: 50px;
	margin-right: 8px;
	margin-top: 4px;
	padding-top: 11px;
	text-align: center;
	width: 45px;
}
.dropcape-simple span {
	display: block;
	float: left;
	font-family: 'RobotoBold';
	font-size: 45px;
	height: 50px;
	margin-right: 8px;
	margin-top: 4px;
	padding-top: 7px;
	text-align: center;
	width: 45px;
}
.dropcape-circle span {
	display: block;
	float: left;
	font-family: 'RobotoBold';
	font-size: 45px;
	height: 50px;
	margin-right: 8px;
	margin-top: 4px;
	padding-top: 11px;
	text-align: center;
	width: 50px;
	border-radius: 50%;
}
/*Alert Styles*/
.alert-error {
	border-radius: 2px;
	font-family: 'RobotoRegular';
	font-size: 14px;
	margin-bottom: 15px;
	padding: 17px 35px 18px 14px;
}
.alert-error .close {
	line-height: 27px;
	opacity: 1;
	position: relative;
	right: -21px;
	top: -2px;
}
button.close {
	border: 0 none;
	cursor: pointer;
	padding: 0;
}
.alert-warning {
	border-radius: 2px;
	font-family: 'RobotoRegular';
	font-size: 15px;
	margin-bottom: 15px;
	padding: 17px 35px 18px 14px;
}
.alert-warning .close {
	line-height: 27px;
	opacity: 1;
	position: relative;
	right: -21px;
	top: -2px;
}
.alert-success {
	border-radius: 2px;
	font-family: 'RobotoRegular';
	font-size: 15px;
	margin-bottom: 15px;
	padding: 17px 35px 18px 14px;
}
.alert-success .close {
	line-height: 27px;
	opacity: 1;
	position: relative;
	right: -21px;
	top: -2px;
}
.close {
	font-size: 18px !important;
}
.alert-info {
	border-radius: 2px;
	font-family: 'RobotoRegular';
	font-size: 15px;
	margin-bottom: 15px;
	padding: 17px 35px 18px 14px;
}
.alert-info .close {
	line-height: 27px;
	opacity: 1;
	position: relative;
	right: -21px;
	top: -2px;
}
/*Tooltips*/
.short-tooltip {
	font-family: 'RobotoRegular';
	font-size: 15px;
	line-height: 27px;
	margin: 0 0 20px;
}
/*Accordion*/
.short-accordion-section {
	margin-bottom: 60px;
}
.panel-group .acco_panel {
	border-radius: 0px;
	margin-bottom: 20px;
	overflow: hidden;
}
.acco_panel {
margin-bottom: 20px;
}
.panel-body {
	padding: 20px !important;
}
.panel-group .short-panel-heading {
	border-bottom: 0 none;
}
.panel-default > .short-panel-heading h4 {
	border: 0px;
	cursor: pointer;
	font-size: 14px !important;
	font-family: 'RobotoMedium';
	line-height: 25px;	
	margin: 0px;
}
.panel-default > .short-panel-heading h4 > a {
	cursor: pointer;
}
.short-panel-heading {
	padding: 0;
}
.panel-title {
	font-size: 14px !important;
	font-family: 'RobotoMedium';
	line-height: 25px;
	
	word-wrap: break-word;
}
.panel-title > a {
	color: inherit;
	padding: 20px 20px;
	display: block;
}
.panel-title a span {
	font-size: 20px;
	float: right;
	line-height: 28px;
	word-wrap: break-word;
}
.acco_panel p {
	font-size: 14px;
	line-height: 27px;
	font-family: 'RobotoRegular';
} 
/*Tabs*/
.short-tabs-section {
	margin-bottom: 60px;
}
.short-tabs {
	height: auto;
	margin: 0;
	padding: 0;
	position: relative;
}
.short-tabs li {
    display: inline-block;
    list-style: none outside none;
    padding: 0;
	margin-right: 1px;
}
.short-tabs li:first-child {
	margin-left: 0px;
}
.short-tabs li a {
    display: inline-block;
    font-family: 'RobotoMedium';
    font-size: 14px;
    line-height: 25px;
    margin: 0;
    padding: 20px 25px;
    
}
p.short-tabs-content {
	font-size: 14px;
	line-height: 27px;
	font-family: 'RobotoRegular';
	margin-bottom: 10px;
	padding: 20px 20px 20px 20px;
}
/*Image Paragraph*/
.image-para-section {
	margin-bottom: 70px;
}
.img-para-left {
	margin-right: 20px !important;
	float: left;
}
.img-para-right {
	margin-left: 20px !important;
}
.image-para-title {
	font-family: 'RobotoRegular';
	font-size: 18px;
	line-height: 25px;
	margin: 0px 0px 10px 0px;
}
.image-para-content {
	font-family: 'RobotoRegular';
	font-size: 15px;
	line-height: 25px;
	margin: 0px 0px 10px 0px;
}
/*Table*/
.table-section {
	margin-bottom: 60px;
}
.table {
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  padding:5px;
  width: 100%;
  animation: float 5s infinite;
  font-family: 'RobotoRegular';
  font-size: 15px;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, 
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > td {
	border: none !important;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	padding: 12px !important;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
	border-bottom-width: 1px !important;
}
th {
	border-right: none;
	font-size: 15px;
	font-weight: 100;
	padding: 24px;
	text-align: left;
	vertical-align: middle;
	font-family: 'RobotoMedium';
}
th:first-child {
	border-top-left-radius:3px;
} 
th:last-child {
	border-top-right-radius:3px;
	border-right:none;
} 
tr {
	border-top: none;
	border-bottom: none;
	font-size:15px;
	font-weight:normal;
}
tr:first-child {
	border-top:none;
}
tr:last-child {
	border-bottom:none;
}
tr:last-child td:first-child {
	border-bottom-left-radius:3px;
}
tr:last-child td:last-child {
	border-bottom-right-radius:3px;
}
td {
	padding:20px;
	text-align:left;
	vertical-align:middle;
	font-weight:300;
	font-size:15px;
}
td:last-child {
	border-right: 0px;
}
th.text-left {
	text-align: left;
}
th.text-center {
	text-align: center;
}
th.text-right {
	text-align: right;
}
td.text-left {
	text-align: left;
}
td.text-center {
	text-align: center;
}
td.text-right {
	text-align: right;
}
/*Column*/
.column-section {
	margin: 0 0 50px;
}
.column-box {
	margin: 0 0 20px
}
.column-box p {
	font-family: 'RobotoLight';
	font-size: 16px;
	line-height: 30px;
	margin: 0 0 5px;
}
/**** 404 page ******/
.error_404 { 
    font-family: 'RobotoLight';
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
	text-align: center;
	margin-bottom: 75px;
	}
.error_404 h2{ 
	font-size: 75px;
	font-family: 'RobotoBold';
}
.wallstreet_page_heading{
	padding: 5px 0px 8px;
	margin-bottom: 80px;
}
.wallstreet_title_head {
font-family: 'RobotoRegular';
font-size: 38px;
line-height: 40px;
}
.blog-post-title-wrapper > dl > dt,
.blog-post-title-wrapper-full > dl > dt,
.blog-post-title-wrapper > dl > dd,
.blog-post-title-wrapper-full > dl > dd {
	line-height: 28px;
	font-size: 16px;
}
.blog-post-title-wrapper > ul,
.blog-post-title-wrapper > ul > li,
.blog-post-title-wrapper-full > ul,
.blog-post-title-wrapper-full > ul > li,
.blog-post-title-wrapper > ul > li > ul > li,
.blog-post-title-wrapper-full > ul > li > ul > li,
.blog-post-title-wrapper > ul > li > ul > li > ul > li,
.blog-post-title-wrapper-full > ul > li > ul > li > ul > li {
	margin: 0 0 7px;
    font-family: 'RobotoRegular';
    font-size: 16px;
    line-height: 20px;
}
.blog-post-title-wrapper > ol,
.blog-post-title-wrapper > ol > li,
.blog-post-title-wrapper-full > ol,
.blog-post-title-wrapper-full > ol > li,
.blog-post-title-wrapper > ol > li > ol > li,
.blog-post-title-wrapper-full > ol > li > ol > li,
.blog-post-title-wrapper > ol > li > ol > li > ol > li,
.blog-post-title-wrapper-full > ol > li > ol > li > ol > li {
	margin: 0 0 7px;
	font-family: 'RobotoRegular';
    font-size: 16px;
    line-height: 20px;
}
.blog-post-title-wrapper > ol > li,
.blog-post-title-wrapper-full > ol > li,
.blog-post-title-wrapper > ol > li > ul > li,
.blog-post-title-wrapper-full > ol > li > ul > li,
.blog-post-title-wrapper  > ol > li > ul > li > ol > li,
.blog-post-title-wrapper-full  > ol > li > ul > li > ol > li
{
	margin: 0 0 7px;
	font-family: 'RobotoRegular';
    font-size: 16px;
    line-height: 20px;
}

.blog-post-title-wrapper h1,
.blog-post-title-wrapper-full h1 {
    font-size: 46px;
    line-height: 54px;
}
.blog-post-title-wrapper h2,
.blog-post-title-wrapper-full h2
{
	font-size: 40px;
    line-height: 48px
}

.blog-post-title-wrapper h3,
.blog-post-title-wrapper-full h3
{
	font-size: 34px;
    line-height: 42px;
}
.blog-post-title-wrapper h4,
.blog-post-title-wrapper-full h4
{
	font-size: 28px;
    line-height: 36px;
}
.blog-post-title-wrapper h5,
.blog-post-title-wrapper-full h5
{
	font-size: 22px;
    line-height: 30px;
}

.blog-post-title-wrapper h6,
.blog-post-title-wrapper-full h6
{
	font-size: 16px;
    line-height: 24px;
}
.blog-post-title-wrapper h1,
.blog-post-title-wrapper-full h1,
.blog-post-title-wrapper h2,
.blog-post-title-wrapper-full h2,
.blog-post-title-wrapper h3,
.blog-post-title-wrapper-full h3,
.blog-post-title-wrapper h4,
.blog-post-title-wrapper-full h4,
.blog-post-title-wrapper h5,
.blog-post-title-wrapper-full h5,
.blog-post-title-wrapper h6,
.blog-post-title-wrapper-full h6{
	margin: 0 0 20px;
    font-family: 'RobotoLight';
}
.blog-post-title-wrapper address,
.blog-post-title-wrapper-full address
{
	line-height: 25px;
	font-style: italic;
}
.blog-post-title-wrapper img,
.blog-post-title-wrapper-full img {
    display: block;
    height: auto;
    max-width: 90%;
}
.blog-post-title-wrapper .alignnone,
.blog-post-title-wrapper-full .alignnone,
.blog-post-title-wrapper #attachment_907,
.blog-post-title-wrapper-full #attachment_907{ 
	width: 100% !important;
}
.post_message{
	font-family: 'RobotoLight';
	font-size: 40px;
	text-align: center;
}

/* Wordpres default Core Classes Need to be define all the Times*/
.sticky{}
cite{ font-style: italic !important; }
.aligncenter{display: block; margin: 0 auto;}
.alignright{float: right;}
.alignleft{float: left;}
img.alignleft, .wp-caption.alignleft{ margin: 0.857143rem 1.71429rem 0.857143rem 0; }
img.alignright, .wp-caption.alignright{ margin: 0.857143rem 0 0.857143rem 1.71429rem; }
.wp-caption .wp-caption-text, .gallery-caption, .entry-caption{
	font-style: italic;
	font-size: 1.257143rem;
	line-height: 2;
}
.post-password-form input[type="submit"]{
    border: 0 none;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    float: none;
    font-family: 'RobotoMedium';
    font-size: 18px;
    font-weight: normal;
    line-height: 23px;
    margin-right: 0;
    padding: 11px 29px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
input#pwbox-1168{
    border-radius: 0;
    display: block;
    font-family: 'RobotoMedium';
	display: inline-block;
    font-size: 14px;
    height: 46px;
    line-height: 20px;
    margin: 25px 0 15px;
    padding: 10px 16px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.comment_box h1 {
    font-size: 46px;
    line-height: 54px;
}
.comment_box h2 {
	font-size: 40px;
    line-height: 48px
}
.comment_box h3 {
	font-size: 34px;
    line-height: 42px;
}
.comment_box h4 {
	font-size: 15px;
    line-height: 36px;
}
.comment_box  h5 {
	font-size: 22px;
    line-height: 30px;
}
.comment_box  h6 {
	font-size: 16px;
    line-height: 24px;
}
.comment_box h1, .comment_box h2, .comment_box h3, .comment_box h4, .comment_box h5, .comment_box h6 {
	margin: 0 0 20px;
    font-family: 'RobotoMedium';
}
.comment-detail  > table{
    width: 100%;
	border-collapse: unset;
	margin-bottom: 37px;
}
.comment-detail > table > tbody > tr > th {
	padding: 12px 15px 12px 15px;
}
.comment-detail > table > tbody > tr > th:first-child {
    border-right: medium none !important;
    border-top-left-radius: 0px !important;
}
.comment-detail > table > tbody > tr > th:last-child{
    border-right: medium none !important;
    border-top-right-radius: 0px !important;
}
.comment-detail > table > tbody > tr > td {
	padding: 12px 15px 12px 15px;
	border-right: 0px !important;
}
.comment-detail > table > tbody > tr:last-child td:first-child {
    border-bottom-left-radius: 0px !important;
}
.comment-detail > table > tbody > tr:last-child td:last-child {
    border-bottom-right-radius: 0px !important;
}
.comment-detail > table > thead > tr > td,
.comment-detail > table > thead > tr > th {
	padding: 8px !important;
} 
.comment-detail > dl > dt,
.comment-detail > dl > dd {
	line-height: 28px;
	font-size: 16px;
}
.comment-detail > ul,
.comment-detail > ul > li,
.comment-detail > ul > li > ul > li,
.comment-detail > ul > li > ul > li > ul > li {
	margin: 0 0 7px;
    font-family: 'RobotoRegular';
    font-size: 16px;
    line-height: 20px;
}
.comment-detail > ol,
.comment-detail > ol > li,
.comment-detail > ol > li > ol > li,
.comment-detail > ol > li > ol > li > ol > li {
	margin: 0 0 7px;
	font-family: 'RobotoRegular';
    font-size: 16px;
    line-height: 20px;
}
.comment-detail > ol > li,
.comment-detail > ol > li > ul > li,
.comment-detail  > ol > li > ul > li > ol > li {
	margin: 0 0 7px;
	font-family: 'RobotoRegular';
    font-size: 16px;
    line-height: 20px;
}
.comment-detail address {
    font-style: italic;
    line-height: 25px;
}
#comment-nav-below > h1.assistive-text{
	clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
#comment-nav-below > .nav-previous, #comment-nav-below > .nav-next {
    float: none;
    margin: 0 10px 50px 0;
}
.tiled-gallery img {
    margin: 2px !important;
}
.gallery-item a {
    display: block;
}
.gallery-item a, .gallery-caption {
    width: 90%;
}
#gallery-2 {
    margin: auto;
}

#gallery-2 .gallery-item {float: left;margin-top: 10px;text-align: center;width:auto !important;}
#gallery-2 .gallery-item .gallery-caption{text-align:center;}
.entry-content dl.gallery-item {margin: 0;}
.entry-content dl, .comment-content dl {margin: 0 1.71429rem;}
.entry-content dt, .comment-content dt {
    font-weight: bold;
    line-height: 1.71429;
}
#gallery-2 img {
	text-decoration: underline;
}
.gallery .gallery-icon img {
    height: auto;
    max-width: 90%;
    padding: 5%;
}
.entry-content img, .comment-content img, .widget img, img.header-image, .author-avatar img, .gallery-item .attachment-thumbnail {
    border-radius: 3px;
}
#gallery-2 .gallery-caption {
    margin-left: 0;
}
.wp-caption .wp-caption-text, .gallery-caption, .entry-caption {
    font-size: 1.25714rem;
    font-style: italic;
    line-height: 2;
}
article.format-aside .aside {
    padding: 1.71429rem;
}
.comment-section ul.children{padding-left:95px;}
.post_sidebar_img,.sidebar-pull-img img{margin-right:10px;}
.textwidget img
{
max-width:100%;
height:auto;
}
/*Page Scroll to Top Button*/
.page_scrollup {
	background-color: #00c2a9;
    border-radius: 0px;
    bottom: 0px;
	padding: 7px;
    display: none;
    height: 40px;
    opacity: 1;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 70px;
	overflow: hidden;
    z-index: 9999;
}
.page_scrollup:hover {
    opacity: 1;
}
.page_scrollup i{
    font-size: 22px;
	color: #ffffff;
}